<!DOCTYPE html>
{% load staticfiles %}

{% if not olimpiada%}
  {% load menu %}
  {% get_olimpiada as olimpiada %}
{%endif%}


<html>

  <head>
    <title>Juegos Deportivos CONICET</title>
    <meta charset="iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'layout/styles/main.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'layout/styles/mediaqueries.css' %}" rel="stylesheet" type="text/css" media="all">

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



    <!--[if lt IE 9]>
    <link href="layout/styles/ie/ie8.css" rel="stylesheet" type="text/css" media="all">
    <script src="layout/scripts/ie/css3-mediaqueries.min.js"></script>
    <script src="layout/scripts/ie/html5shiv.min.js"></script>
    <![endif]-->
    <!-- Slider -->
    <link href="{% static 'layout/scripts/responsiveslides.js-v1.53/responsiveslides.css' %}" rel="stylesheet" type="text/css" media="all">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
    
    <link href="https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css" rel="stylesheet">
  </head>  

  <style>
    <div id="hgroup" >   
  </style>


  <!-- BLOQUE SUPERIOR ############################################################################################ -->
  <!--
  <div id="hgroup1" style="background-color:#004378; height=500" height="1500"> 
      <a href="{% url 'vista_index' id_olimpiada=olimpiada.pk%}"> <img src="{% static 'images/Logo_Cordoba18.jpg' %}" alt=""> </a>    
  </div>
  -->  

  <div class="wrapper row1" style="background-color:#004378;">
    <header id="header" class="full_width clear" >
      <div id="hgroup"> 
          <a href="{% url 'vista_index' id_olimpiada=olimpiada.pk%}"> <img src="{{olimpiada.logo.url}}" alt=""> </a>    
      </div>
      
      <div>
        <a style="background-color:#004378; color:withe; margin:0 0 0 8px;float:right" href="{% url 'vista_login'%}"> 
          <span class="glyphicon glyphicon-log-in"></span> Login / Perfil    
        </a> 
        <br>
        <a style="background-color:#004378; color:withe; margin:0 0 0 8px;float:right" href="{% url 'vista_logout'%}"> 
          <span class="glyphicon glyphicon-log-out"></span> Logout 
        </a>  
      </div> 

     <!--
      <div id="header-contact">
        <ul class="list none">
          <li><span class="icon-envelope"></span> <a href="#">info@domain.com</a></li>
          <li><span class="icon-phone"></span> +xx xxx xxxxxxxxxx</li>
        </ul>
      </div>
      -->
    </header>
  </div>
    
  <!-- ################################################################################################ -->


  <!-- BARRA NAVEGACION ######################################################################################### -->
  <div class="wrapper row2">
    <nav id="topnav">
      <ul class="clear">
   
        <li class="active"><a href="{% url 'vista_index' id_olimpiada=olimpiada.pk%}" title="Novedades">Novedades</a></li>

        <li><a class="drop" href="#" title="Delegaciones">Delegaciones</a>
          <ul>
            {% for delegacion in olimpiada.delegaciones.all|dictsort:"nombre"%}
               <li><a href="{% url 'vista_delegacion' id_olimpiada=olimpiada.pk id_delegacion=delegacion.pk %}" title="Opcion_Menu"> {{delegacion}}</a></li>
  		      {% endfor %}	  
          </ul>
        </li>

        <li><a class="drop" href="#" title="Deportes">Deportes</a>
          <ul>
            {% for deporte in olimpiada.deportes.all|dictsort:"nombre"%}
               <li><a href="{% url 'vista_deporte' id_olimpiada=olimpiada.pk id_deporte=deporte.pk %}" title="Opcion_Menu"> {{deporte}}</a></li>
  		  {% endfor %}        
          </ul>
        </li>      
        
        {% now "Y-m-d" as todays_date %}
        {% if todays_date >= olimpiada.fecha_inicio_inscripcion|date:"Y-m-d" and todays_date <= olimpiada.fecha_fin_inscripcion|date:"Y-m-d" %}
           <li><a href="{% url 'vista_inscripcion_parte0' id_olimpiada=olimpiada.pk%}" title="Inscripcion">Inscripción</a></li>
        {% endif %}

        <li><a href="#" title="Actividades Culturales">Culturales</a></li>
        <!--<li><a href="#" title="Cronograma">Cronograma Evento</a></li>-->
        <li><a href="#" title="Fotos">Fotos</a></li>
        <li><a href="{% url 'vista_contacto' id_olimpiada=olimpiada.pk%}" title="Contacto">Contacto</a></li>
        
      </ul>
    </nav>
  </div>
  
  <body class="">
      {% block content %}
      
      {% endblock %}
  </body>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://code.jquery.com/ui/1.10.1/jquery-ui.min.js"></script>
  <script>window.jQuery || document.write('<script src="../layout/scripts/jquery-latest.min.js"><\/script>\
  <script src="../layout/scripts/jquery-ui.min.js"><\/script>')</script>
  <script>jQuery(document).ready(function($){ $('img').removeAttr('width height'); });</script>
  <script src="{% static '/layout/scripts/jquery-mobilemenu.min.js' %}"></script>
  <script src="{% static '/layout/scripts/custom.js' %}"></script>
  <script src="{% static '/layout/scripts/jquery.min.js'%}"></script>
  
  <script src="{% static '/layout/scripts/jquery.flexslider-min.js' %}"></script> 
  <script src="{% static 'layout/scripts/jquery.flexslider-min2.js' %}"></script>
</html>
