<!DOCTYPE html>
{% extends 'torneo/base.html' %}
{% load staticfiles %}
{% block content %}
    
<div class="wrapper row3">
  <div id="container">
    <div class="clear">
      
      <font style="font-size: 30px">        
        <b>{{competencia.disciplina}}</b>
      </font>

      <div>
        <font style="font-size: 18px">        
          <b>Fecha: </b> {{competencia.fecha}} <br>
          <b>Predio Deportivo / Cancha: </b> {{competencia.cancha.nombre}} <br>
        </font>
      </div>

      <div class="one_third first">       
        <div class="push30"> 
          <img src="{{competencia.cancha.foto.url}}" alt="" style="max-height:400px; max-width:400px; overflow: hidden">
        </div>
        <li><b>Dirección: </b> {{competencia.cancha.direccion}} </li>
        <li><b> <a href={{competencia.cancha.mapa}}>Ver Mapa </a> </b>  </li>
      </div>
      
      <div class="one_third">        
        <div class="skillset push30">
          <ul class="nospace clear">
            {% if competencia.disciplina.tipo in 'Grupal'%}
        			<font style="font-size: 18px"> 
                <b>Equipos:</b>
          			<ol>
            			{% for equipo in competencia.equipos.all%}
              			<li>{{equipo.nombre}}</li>
                  {% endfor %}
                </ol>
              </font>
            {% endif %}
            
            {% if competencia.disciplina.tipo in 'Individual'%}
        			<font style="font-size: 18px"> 
                <b>Competidores:</b> 
          			</ol>
              		{% for participante in competencia.participantes.all%}
              			<li> 
                      {% if competencia.disciplina.deporte.nombre in 'Natación'%}
                        Andarivel {{ forloop.counter0 }}:
                      {% endif %}

                      {% if competencia.disciplina.deporte.nombre in 'Atletismo'%}
                        Carril {{ forloop.counter0 }}:
                      {% endif %}

                      <a href="{% url 'vista_jugador' id_olimpiada=olimpiada.pk id_jugador=participante.pk %}">  {{participante.apellido|title}}, {{participante.nombre|title}} ({{participante.delegacion.nombre}}) </a> 



                    </li>
                  {% endfor %}
                </ol>
              </font>
            {% endif %}                           
          </ul>
        </div>
      </div>

    </div>
    <div class="clear"></div>
  </div>
</div>  
        
{% endblock %}




