<!DOCTYPE html>
{% extends 'torneo/base.html' %}
{% load staticfiles %}


{% block content %}
    
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <div id="container">
        
    <div class="clear">
      
      <div class="one_half first">
        
        <h1>Notificar Cambios en Competencia {{competencia.nombre}}</h1>      
        
        <!-- ACA FOTO CANCHA Por EJ. <div class="push30"> <img src="{{jugador.foto.url}}" alt="" style="max-height:400px; max-width:400px; overflow: hidden"></div> -->
        
        <h2>Observaciones: </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non sem erat. Mauris nulla orci, ornare id pulvinar in, ornare id lorem. </p>
      </div>
      
      <div class="one_half">
        <h2>Info Competencia</h2>
        
        <div class="skillset push30">
           <ul class="nospace clear">
                <li><b>Disciplina:</b> {{competencia.disciplina.nombre}}</li>
                <li><b>Fecha: </b> {{competencia.fecha}} </li>
                <li><b>Lugar: </b> {{competencia.lugar}} </li>

                {% if competencia.disciplina.tipo in 'Grupal'%}
            			<li><b>Equipos: </b></li>
                			<ol>
                			{% for equipo in competencia.equipos.all%}
                    			<li>{{equipo.nombre}}</li>
                         {% endfor %}
                         </ol>
                {% endif %}
                
                {% if competencia.disciplina.tipo in 'Individual'%}
            			<li>Competidores: </li>
                			</ol>
                    		{% for participante in competencia.participantes.all%}
                    			<li>{{participante.nombre}}</li>
                         {% endfor %}
                         </ol>
                {% endif %}                           
           </ul>
        </div>
        
        
        <h2>Latest Work</h2>
        <ul class="nospace spacing clear">
          <li class="one_quarter first"><a href="#"><img src="{% static '/images/demo/120x120.gif' %}" alt=""></a></li>
          <li class="one_quarter"><a href="#"><img src="{% static '/images/demo/120x120.gif' %}" alt=""></a></li>
          <li class="one_quarter"><a href="#"><img src="{% static '/images/demo/120x120.gif' %}" alt=""></a></li>
          <li class="one_quarter"><a href="#"><img src="{% static '/images/demo/120x120.gif' %}" alt=""></a></li>
          <li class="one_quarter first"><a href="#"><img src="{% static '/images/demo/120x120.gif' %}" alt=""></a></li>
          <li class="one_quarter"><a href="#"><img src="{% static '/images/demo/120x120.gif' %}" alt=""></a></li>
          <li class="one_quarter"><a href="#"><img src="{% static '/images/demo/120x120.gif' %}" alt=""></a></li>
          <li class="one_quarter"><a href="#"><img src="{% static '/images/demo/120x120.gif' %}" alt=""></a></li>
        </ul>
          
      
      </div>
      <!-- ################################################################################################ -->
    
    
    </div>
    <!-- ################################################################################################ -->
    <div class="clear"></div>
  </div>
</div>  
        
{% endblock %}




