<!DOCTYPE html>
{% extends 'torneo/base.html' %}
{% load staticfiles %}


{% block content %}
    
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <div id="container">
    
   <div class="clear">
      
      <div class="one_half first">

        <div id="post-11" class="post-11 page type-page status-publish hentry">
            <h1 class="entry-title">Contactos</h1>
			
            <div class="entry-content">
                <h3><strong>Responsables Delegaciones&nbsp;</strong></h3>
                <p>&nbsp;</p>
                {% for delegacion_ in delegaciones_.all%}
                  <p><strong>{{delegacion_.nombre|title}}</strong>:
                    <ul>
                      {% for responsable_ in delegacion_.responsables.all%}
                        <li>{{responsable_.nombre|title}} {{responsable_.apellido|title}} (<a href="mailto:{{responsable_.mail}}">{{responsable_.mail}}</a>)</li>
                      {% endfor %}
                    </ul>
                {% endfor %}


                <h3><strong>Delegados Deportivos&nbsp;</strong></h3>
                <p>&nbsp;</p>
                {% for deporte_ in deportes_.all%}
                  <p><strong>{{deporte_.nombre|title}}</strong>:
                    <ul>
                      {% for responsable_ in deporte_.responsables.all%}
                        <li>{{responsable_.nombre|title}} {{responsable_.apellido|title}} (<a href="mailto:{{responsable_.mail}}">{{responsable_.mail}}</a>)</li>
                      {% endfor %}
                    </ul>
                {% endfor %}


            	</div><!-- .entry-content -->
          </div>
   
      </div>
   </div>
 
   <div class="clear"></div>
 </div>
</div>  
        
        
{% endblock %}




