<!DOCTYPE html>
{% extends 'torneo/base.html' %}
{% load staticfiles %}
{% block content %}

<!-- ################################################################################################ -->
<div class="wrapper row3">
  <div id="container">
    
   <div class="clear">

    <div class="one_third">
    {% if posiciones %}
    <div>
      <h2>Copa Conjunto</h2>
              
      <table style="width:100%">
        <thead>
          <tr class="info">
             <th>Pos</th>
             <th>Delegación</th>
             <th>Puntos</th>
          </tr>     
        </thead>
        
        <tbody>
        {% for posicion in posiciones %}      
          <tr class="info">
            <th>{{posicion.posicion}}</th>
            <th> <a href="{% url 'vista_delegacion' id_olimpiada=olimpiada.pk id_delegacion=posicion.delegacion.pk %}">  {{posicion.delegacion.nombre}} </a> </th>
            <th>{{posicion.puntos}}</th>
          </tr>     
        {% endfor %}  
        </tbody>
      </table>

    </div>

    <div>
      <h2>Copa Rendimiento</h2>
              
      <table style="width:100%">
        <thead>
          <tr class="info">
             <th>Pos</th>
             <th>Delegación</th>
             <th>Rendimiento</th>
          </tr>     
        </thead>
        
        <tbody>
        {% for posicion in posiciones_rendimiento %}      
          <tr class="info">
            <th>{{posicion.posicion_rendimiento}}</th>
            <th> <a href="{% url 'vista_delegacion' id_olimpiada=olimpiada.pk id_delegacion=posicion.delegacion.pk %}">  {{posicion.delegacion.nombre}} </a> </th>
            <th>{{posicion.rendimiento|floatformat:3}}</th>
          </tr>     
        {% endfor %}  
        </tbody>
      </table>

    </div>
  {% endif %}
  </div>


   <div class="clear"></div>
 </div>
</div>  
        
        
{% endblock %}




