<!DOCTYPE html>
{% extends 'torneo/base.html' %}
{% load staticfiles %}

{% load qr_code %}
{% load thumbnail %}

{% block content %}



<style> 
  #cuerpo {
      border-radius: 25px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;

      /*border: 2px solid #000000;*/
      /*padding-top: 10px; */
      /*padding-bottom: 0px; */
      /*padding-left: 10px; */
      /*padding-right: 10px;  */
      text-align: center;
      background-image: url("{% static 'images/fondo_credencial4.png' %}");
      /*background-repeat: no-repeat;*/
      /*background-size: 365px 60px;*/
      /*background-color:powderblue*/
  }

  #encabezado {
      background-image: url("{% static 'images/fondo_credencial_encabezado.png' %}");
      background-image: url("{% static 'images/fondo_credencial_encabezado2.png' %}");
      background-repeat: no-repeat;
      background-size: 365px 60px;
  }

</style>
        
<div class="wrapper row3">
  <div id="container">   
    <div class="clear">
      
      <li class="one_third first">

        <div id="cuerpo">
          
         <!--  <img src="{% static 'images/fondo_credencial_encabezado2.png' %}" alt="" style="max-height:60px; max-width:365px; overflow: hidden"> -->
          <img src="{% static 'images/fondo_credencial_encabezado4.png' %}" alt="" overflow: hidden">
          <!-- <img src="{% static 'images/fondo_credencial_encabezado2.png' %}" alt="" overflow: hidden"> -->
        
          <div  style="padding-left: 15px; padding-right: 10px;">  
            <font color="black">
              <h1>{{jugador.nombre|title}} {{jugador.apellido|title}}</h1>      
            </font>

            <div>
              <div class="one_third first">        
                {% thumbnail jugador.foto "150x200" crop="top" as im %}
                    <img src="{{ im.url }}">
                {% endthumbnail %}
              </div>
              <div class="two_third">        
                <div style="padding-top: 10px;" >
                  <ul class="nospace clear">
                    <font color="black" style="padding-top: 10px;">
                      <li><b>Delegación: </b> {{jugador.delegacion}}</li>
                      <li><b>DNI: </b> {{jugador.numero_documento}}</li>
                      <li><b>Institución: </b> {{jugador.institucion}}</li>
                      <li><b>Tipo de Personal: </b> {{jugador.tipo_personal}}</li>
                      <li><b>Actividad Laboral: </b> {{jugador.actividad_laboral}}</li>      
                      <li><b>Edad:</b> {{edad}} | <b>Grupo Sanguíneo:</b> {{jugador.grupo_sanguineo}}</li>
                    </font>
                  </ul> 
                </div>
              </div>
            </div>

            <div>
              <ul class="nospace clear">
                <font color="black">               
                  {% if jugador.deportes.all %}
                    <br>
                    <li><b>Deportes:</b></li>
                    <p>
                      |
                      {% if jugador.deporte1 %}
                        {{jugador.deporte1}} (1º) | 
                      {%endif%}
                      {% if jugador.deporte2 %}
                        {{jugador.deporte2}} (2º) | 
                      {%endif%}
                      {% if jugador.deporte3 %}
                        {{jugador.deporte1}} (3º) |
                      {%endif%}
                    </p>
                  {% endif %}

                  {% if jugador.artes.all %}                 
                     <li><b>Espacio Artístico:</b></li> 
                     <p> 
                       |
                       {% for arte in jugador.artes.all %}
                          {{arte}} |
                       {% endfor %}
                     </p>
                  {% endif %}

                  <a href=""> <b>#YoDefiendoLaUniversidadPública</b> </a>                
                </font>

                {% url 'vista_jugador' id_olimpiada=olimpiada.pk id_jugador=jugador.pk as url_jugador %}
                <li>{% qr_from_text request.META.HTTP_HOST|add:url_jugador size=5 %}</li>

              </ul>
            </div>
          </div>
        </div>
      </li>

      

    
    </div>

    <div class="clear"></div>

  </div>
</div>  
        
{% endblock %}




