<!DOCTYPE html>
{% extends 'torneo/base.html' %}
{% load staticfiles %}

{% load qr_code %}
{% load thumbnail %}

{% if not olimpiada%}
  {% load menu %}
  {% get_olimpiada as olimpiada %}
{%endif%}

{% block content %}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style> 
  #cuerpo {
      width: 10cm;
      height: 14cm;
      border-radius: 25px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      /*border: 2px solid #000000;*/
      /*padding-top: 10px; */
      /*padding-bottom: 0px; */
      /*padding-left: 10px; */
      /*padding-right: 10px;  */
      text-align: center;
      background: url("{% static 'images/fondo_credencial4.png' %}") !important;
      /*background-repeat: no-repeat;*/
      /*background-size: 365px 60px;*/
      /*background-color:powderblue;*/
      border-style: solid;
      border-width: 2px;
      /*border-radius: 0px;*/
  }

  #nombre_jugador {
      /*background-color: #fcfdff;*/
      background-color: rgba(225, 225, 225, .4);    
      padding-top: 15px; 
      margin: 15px;
      /*padding-bottom: 0px; */
      /*padding-left: 10px; */
      /*padding-right: 10px;  */

      /*overflow: hidden;*/
      /*white-space: nowrap;*/
  }

	@media screen {
	#frase{
    	position: fixed;
    	bottom: 520px;
    	left: 100px;
		}
	}



	@media print {
		#frase{
    		position: fixed;
    		bottom: 500px;
    		left: 50px;
		}
		#nombre_jugador{
			 background-color: black;    
			-webkit-print-color-adjust: exact;
		}
	}

</style>
        
<div class="wrapper row3">
  <div id="container">   
    <div class="clear">
      
      <li class="one_third first">

        <div id="cuerpo">         
          <img style="width:11cm" src="{% static 'images/fondo_credencial_encabezado5.jpg' %}">
        
          <div style="padding-left: 15px; padding-right: 10px; padding-top: 5px;">  
            
            <div id="nombre_jugador">
              <font color="black">
                <font style="font-size: 30px">{{jugador.name_to_print|title}}</font>
                <br>  
                <font style="text-transform: uppercase; font-size: 15px"><b>{{jugador.delegacion}}</b></font>    
              </font>
            </div>

            <div>
              <div class="one_third first">        
                {% thumbnail jugador.foto "150x200" crop="top" as im %}
                    <img src="{{ im.url }}">
                {% endthumbnail %}
              </div>
              <div class="two_third">        
                <div style="padding-top: 25px;" >
                  <ul class="nospace clear">
                    <font color="black" style="padding-top: 10px; font-size: 15px">
                      <!-- <li><b>Delegación: </b> {{jugador.delegacion}}</li> -->
                      <li><b>DNI: </b> {{jugador.numero_documento}}</li>
                      <!-- <li><b>Institución: </b> {{jugador.institucion}}</li> -->
                      <li><b>Tipo de Personal: </b> {{jugador.tipo_personal}}</li>
                      <li><b>Act. Laboral: </b> {{jugador.actividad_laboral}}</li>      
                      <li><b>Edad:</b> {{edad}}</li>
                      <li><b>Grupo Sanguíneo:</b> {{jugador.grupo_sanguineo}}</li>
                    </font>
                  </ul> 
                </div>
              </div>
            </div>

            <div>
             <div class="clear"></div> 
              <div class="two_third first">
                <ul class="nospace clear">
                  <font color="black">               
                      <br>
                      <li style="margin-bottom: 8px"><b>Deportes/Actividades:</b></li>

                        {% if jugador.deporte1 %}
                          <p style="padding: 0px; margin: 0px">{{jugador.deporte1}} (1º)</p>
                        {%endif%}
                        {% if jugador.deporte2 %}
                          <p style="padding: 0px; margin: 0px">{{jugador.deporte2}} (2º)</p>
                        {%endif%}
                        {% if jugador.deporte3 %}
                          <p style="padding: 0px; margin: 0px">{{jugador.deporte3}} (3º)</p>
                        {%endif%}
                        {% ifnotequal jugador.deporte_maraton 'No'%}
                          <p style="padding: 0px; margin: 0px">{{jugador.deporte_maraton}}</p>
                        {%endifnotequal%}
                        {% for arte in jugador.artes.all %}
                          <p style="padding: 0px; margin: 0px">{{arte}}</p>
                        {% endfor %}
                      </p>                    
                  </font>
                </ul>
              </div>

              <div class="one_third" style="margin-top:60px; margin-left:0">
                {% url 'vista_jugador' id_olimpiada=olimpiada.pk id_jugador=jugador.pk as url_jugador %}
                {% qr_from_text request.META.HTTP_HOST|add:url_jugador size=9 %}
              </div>           
            </div>

      
            <div class="full_width clear" >
              <a href=""> <b>#YoDefiendoLaUniversidadPública</b> </a>                
            </div>


          </div>
        </div>
      </li>

      
<a href="{% url 'vista_credencial_pdf' olimpiada.pk jugador.pk %}"style="margin-left: 80px; color: darkblue" class="w3-button glyphicon glyphicon-print w3-jumbo" style='color:blue'></a>
    
    </div>

</div>   

{% endblock %}


</html>







