<!DOCTYPE html>
{% extends 'torneo/base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}


<div class="wrapper row3">
  <div id="container">

    <div id="portfolio">
      <ul class="clear">
        <li>
          <article class="clear">
            <header>
              <h1 class="blog-post-title"><a href="#">Delegación de {{delegacion.nombre}}</a></h1>
            </header>

            <div class="rslides_container clear">
              <ul class="rslides clear" id="rslides">
                <figure class="post-image"><img src="{{delegacion.foto_delegacion.url}}" alt="" style="max-height:400px; max-width:850px; overflow: hidden"></figure>
              </ul>
            </div>

            {% if delegacion.descripcion %}
              <p> {{delegacion.descripcion}}</p>
            {% endif %}

          </article>
        </li>       
      </ul>
    </div>

    <div class="clear"></div>

    <section>
      <h2>Integrantes:</h2>
      <ul class="nospace clear">
     
        <li class="one_quarter first"> </li>
            
        {% for miembro in miembros_delegacion%}
          <li class="one_quarter">
            <figure class="team-member">
              {% thumbnail miembro.foto "150x200" crop="top" as im %}
                  <img src="{{ im.url }}">
              {% endthumbnail %}
              
              <figcaption>
                <p class="team-name">
                  <a href="{% url 'vista_jugador' id_olimpiada=olimpiada.pk id_jugador=miembro.pk %}">
                    {{miembro.nombre|title}} {{miembro.apellido|title}}
                  </a>
                </p>
                <p class="team-title">{{miembro.actividad_laboral}}</p>
              </figcaption>
            </figure>
          </li>
        {% endfor %}
      </ul>
    </section>

  </div>
</div>
{% endblock %}






