<!DOCTYPE html>
{% extends 'torneo/base.html' %}
{% load staticfiles %}
{% load thumbnail %}  
{% block content %}

<style>
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }

  td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 5px;
  }

  tr:nth-child(even) {
      background-color: #dddddd;
  }
</style>
    

<div class="wrapper row3">
  <div id="container">
    
    <div class="clear">
      
      <div class="one_half first">
        <h1>{{deporte.nombre}}</h2>   
        <figure class="post-image"><img src="{{deporte.icono_deporte.url}}" alt="" style="max-height:250px; max-width:400px; overflow: hidden"></figure>

        {% if deporte.responsables.count%}
          <li><b>Responsable/s Deporte:</b></li>
          <ol>
            {% for participante in deporte.responsables.all%}
              <li> <a href="{% url 'vista_jugador' id_olimpiada=olimpiada.pk id_jugador=participante.pk %}">  {{participante.apellido|title}}, {{participante.nombre|title}} </a> </li>
           {% endfor %}
         </ol>
        {% endif %}      
        
        <h2>Disciplinas: </h2>
        <div>
          <font size="4">
            <ol>
              {% for disciplina in disciplinas_del_deporte %}
                <li>
                  <a href="{% url 'vista_disciplina' id_olimpiada=olimpiada.pk id_disciplina=disciplina.pk %}"> 
                    {{disciplina}}  
                  </a>

                  {% if disciplina.finalizada%}
                    <span class="glyphicon glyphicon-flag" style="color:green;font-size: 15px;"></span>
                  {% endif %}

                  {% if disciplina.tipo in 'Grupal'%}
                    {% if disciplina.equipos.all.count < 2 %}
                      <span class="glyphicon glyphicon-remove-circle" style="color:grey;font-size: 15px;"></span>
                    {% endif %}
                  {% endif %}
                  {% if disciplina.tipo in 'Individual'%}
                    {% if disciplina.participantes.all.count < 2 %}
                      <span class="glyphicon glyphicon-remove-circle" style="color:grey;font-size: 15px;"></span>
                    {% endif %}
                  {% endif %}

                </li>
              {% endfor %}
            </ol>
          </font>
        </div>
        
        <h2>Tabla del Deporte: </h2>
        
        <table style="width:50%">
          <thead>
            <tr class="info">
               <th>Pos</th>
               <th>Delegación</th>
               <th>Puntos</th>
            </tr>     
          </thead>
          <tbody>

          {% for posicion in posiciones %}      
            <tr class="info">
              <th>{{posicion.posicion}}</th>
              <th> <a href="{% url 'vista_delegacion' id_olimpiada=olimpiada.pk id_delegacion=posicion.delegacion.pk %}">  {{posicion.delegacion.nombre}} </a> </th>
              <th>{{posicion.puntos|floatformat:"3"}}</th>
            </tr>     
          {% endfor %}  
          </tbody>
        </table>

      </div>
      
        
   
   </div>
 </div>
 
 <div class="clear"></div>
 </div>

</div>  
        

<div class="wrapper row2" style="background-color: white">
  <div id="latest2"> 
    {% if disciplina.fotos.all %}
      <div class="titlebox">
        <h2 class="font-x3 uppercase nospace">Galería de Fotos</h2>
        <p class="nospace2">Fotos tomadas durante el desarrollo del evento .</p>
      </div>
    {%endif%}
    <div class="nospace2 group">

      {% for foto in deporte.fotos.all %}
        <figure>
          <a href="">
            {% thumbnail foto.imagen "250x250" crop="top" as im %}
              <img src="{{ im.url }}">
            {% endthumbnail %}

            <figcaption>
              {%if foto.titulo %}
                <p>{{foto.titulo}}</p>
              {%endif%}
              
              <p><a href="">Ampliar &raquo;</a></p>
            </figcaption>

          </a>
        </figure>
      {% endfor %}

    </div>
  </div>
</div> 

        
{% endblock %}




