<!DOCTYPE html>
{% extends 'torneo/base.html' %}

{% load menu %}

{% load staticfiles %}
from django.core import urlresolvers

{% load widget_tweaks %}
{% block content %}
<link href="{% static 'layout/styles/form.css' %}" rel="stylesheet" type="text/css" media="all">

<style>
form {
  display: block;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
    /*max-width: 60px;*/
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
    

<div class="wrapper row3">
  <div id="container">
    <div class="clear">
      
      <!---------------------------------------------------------------------------------------------------------------->
      <!-- Encabezado General Página Edición Fixture -->
      <!---------------------------------------------------------------------------------------------------------------->
      <h1>{{disciplina}}
      {% if disciplina.finalizada%}
        <span class="glyphicon glyphicon-flag" style="color:green;font-size: 35px;"></span>
      {% endif %}
      </h1>

      <div class="one_half first">  
        <h2> Datos Disciplina</h2>

        {% if disciplina.responsables.count%}
          <li><b>Responsable/s Disciplina:</b></li>
          <ol>
            {% for participante in disciplina.responsables.all%}
              <li> <a href="{% url 'vista_jugador' id_olimpiada=olimpiada.pk id_jugador=participante.pk %}">  {{participante.apellido|title}}, {{participante.nombre|title}} </a> </li>
           {% endfor %}
         </ol>
        {% endif %}

        <li><b>Tipo:</b> {{disciplina.tipo}}</li>
        <li><b>Modalidad del Torneo:</b> {{disciplina.modalidad}}</li>
        
        {% if disciplina.tipo in 'Grupal'%}
          <li><b>Equipos:</b></li>
          <ol>
            {% for equipo in disciplina.equipos.all%}
              <li> <a href="{% url 'vista_equipo' id_olimpiada=olimpiada.pk id_equipo=equipo.pk %}"> {{equipo.nombre|title}} </a> </li>
           {% endfor %}
         </ol>
        {% endif %}
        
        {% if disciplina.tipo in 'Individual'%}
          <li><b>Competidores:</b></li>
          <ol>
            {% for participante in disciplina.participantes.all%}
              <li> <a href="{% url 'vista_jugador' id_olimpiada=olimpiada.pk id_jugador=participante.pk %}">  {{participante.apellido|title}}, {{participante.nombre|title}} ({{participante.delegacion.nombre}}) </a> </li>
            {% endfor %}
          </ol>
        {% endif %}
        

        <!-- Botones Administracion Disciplina-->
        <li>
          <div style="background-color: rgb(216, 214, 67, 0.85); padding:10px; height: 55px">
            <a class="btn btn-default" href="{% url 'admin:torneo_disciplina_change' disciplina.pk %}" style="float:left">
              <span class="glyphicon glyphicon-edit"></span> Editar Disciplina
            </a>
          </div>
        </li>       
      
      </div>

      <div class="one_half">         
        <figure class="post-image">
          <img src="{{disciplina.deporte.icono_deporte.url}}" alt="" style="max-height:250px; max-width:400px; overflow: hidden">
        </figure>         
      </div>









      <!---------------------------------------------------------------------------------------------------------------->
      <!-- Casos CompetenciaUnica, Playoff y PosicionManual-->
      <!---------------------------------------------------------------------------------------------------------------->
      {%if disciplina.modalidad == 'Playoff_' or disciplina.modalidad in 'CompetenciaUnica' or disciplina.modalidad in 'PosicionManual'%}
        <div class="two_third first">
          <h2> Gestión Fixture </h2>

          {% if not disciplina.fixture_creado %}
            <a class="btn btn-default" href="{% url 'vista_disciplina_crearfixture' id_olimpiada=olimpiada.pk id_disciplina=disciplina.pk %}"><span class="glyphicon glyphicon-object-align-horizontal"></span> Iniciar </a>
          
          {% else %}
            <div style="background-color: rgb(58, 158, 65, 0.85); padding:10px; height: 55px">
              <a class="btn btn-default" href="{% url 'vista_disciplina_actualizarfixture' id_olimpiada=olimpiada.pk  id_disciplina=disciplina.pk %}" style="float:left"> 
                <span class="glyphicon glyphicon-equalizer"></span> Actualizar Tabla|Fixture
              </a>
            </div>

            <br>

            <div style="background-color: rgb(247, 22, 22,0.85); padding:10px">
              <a class="btn btn-default" href="{% url 'vista_disciplina_reiniciarfixture' id_olimpiada=olimpiada.pk id_disciplina=disciplina.pk %}" style="float:right">
                <span class="glyphicon glyphicon-object-align-horizontal"></span> Reiniciar Tabla|Fixture
              </a> 
              <p style="color:black"><b>Atención: Se perderán todos los resultados cargados</b></p>
            </div>
          {% endif %}
          
          <br><br>     

          <div>
            {% for competencia in disciplina.competencias.all %}
              {% include "torneo/disciplina_editarfixture_detallescompetencias.html" %}
            {% endfor %}
          </div>
        </div>

        <!-- Tabla de Posiciones -->
        <div class="two_third first">  
          {%if disciplina.competencia_unica.count or disciplina.playoff.count or disciplina.posicion_manual.count%}
            <h2 style="margin-top: 0px">Tabla de Posiciones: </h2>       
            {%with posiciones=disciplina.posiciones.all%}
              {% include "torneo/disciplina_tablaposiciones_playoff.html" %}
            {%endwith%}
          {% endif %}
        </div>

        <div class="two_third first">
          {%if disciplina.fixture_creado%}
            <div style="background-color: rgb(247, 22, 22,0.85); padding:10px; height: 55px; margin-top: 5px;">
              <a class="btn btn-default" href="{% url 'vista_disciplina_reiniciarmodalidad' id_olimpiada=olimpiada.pk id_disciplina=disciplina.pk %}" style="float:right">
                <span class="glyphicon glyphicon-object-align-horizontal"></span> Reiniciar Modalidad
              </a>
              <p style="color:black"><b>  Atención: Se perderán todos los cambios realizados.</b></p>
            </div>
          {% endif %}  
        </div>

      {%endif%}







      <!---------------------------------------------------------------------------------------------------------------->
      <!-- Caso Grupo_mas_Playoff -------------------------------------------------------------------------------------->
      <!---------------------------------------------------------------------------------------------------------------->
      {% if disciplina.modalidad == 'Grupos_mas_Playoff' %}
        <div class="full_width first">
          {%if not disciplina.grupos_mas_playoff.count %}
            <h2> Fase de Grupos </h2>  
            <div style="background-color: rgb(216, 214, 67, 0.85); padding:10px; height: 55px">
              <a class="btn btn-default" href="{% url 'vista_disciplina_iniciarmodalidad' id_olimpiada=olimpiada.pk id_disciplina=disciplina.pk %}" style="float:left">
                <span class="glyphicon glyphicon-edit"></span> Iniciar Modalidad
              </a>
            </div>
          {% endif %}


          {%if disciplina.grupos_mas_playoff.count %}
            <br>
            <!-- <h2> Fase de Grupos </h2>   -->

            <!-- Configurar/Iniciar Grupos -->
            {%if not disciplina.grupos_mas_playoff.first.fase_grupos_iniciada %}
              <div style="background-color: rgb(216, 214, 67, 0.85); padding:10px; height: 55px">
                <a class="btn btn-default" href="{% url 'admin:torneo_grupos_mas_playoff_change' disciplina.grupos_mas_playoff.first.pk %}" style="float:left">
                  <span class="glyphicon glyphicon-edit"></span> Configurar Grupos
                </a>
              </div>

              <div style="background-color: rgb(58, 158, 65, 0.85); padding:10px; height: 55px; margin-top: 5px;">
                <a class="btn btn-default" href="{% url 'vista_disciplina_iniciargrupos' id_olimpiada=olimpiada.pk id_disciplina=disciplina.pk %}" style="float:left">
                  <span class="glyphicon glyphicon-object-align-horizontal"></span> Iniciar Fase de Grupos
                </a>
              </div>
            {% endif %}

            <!-- Actualizar/Reiniciar Grupos -->
            {%if disciplina.grupos_mas_playoff.first.fase_grupos_iniciada and not disciplina.grupos_mas_playoff.first.fase_grupos_finalizada%}
              <div style="background-color: rgb(216, 214, 67, 0.85); padding:10px; height: 55px">
                <a class="btn btn-default" href="{% url 'vista_disciplina_actualizargrupos' id_olimpiada=olimpiada.pk id_disciplina=disciplina.pk %}" style="float:left">
                  <span class="glyphicon glyphicon-object-align-horizontal"></span> Actualizar Grupos
                </a>
              </div>
            {% endif %}


            {%if disciplina.grupos_mas_playoff.first.fase_grupos_iniciada%}
              <div style="background-color:rgb(221, 234, 255); padding: 15px; margin-top:15px;">  
                <div class="container">
                  <h2>Resultados Fase de Grupos</h2>

                  <ul class="nav nav-pills">
                    {% for grupo,integrantes_grupo in grupos %}
                      {%if integrantes_grupo.count %}
                        {% if forloop.counter0 == 0 %}
                          <li class="active"><a data-toggle="tab" href="#{{grupo}}_">{{grupo}}</a></li>
                        {%endif%}
                        {% if forloop.counter0 > 0 %}
                          <li><a data-toggle="tab" href="#{{grupo}}_">{{grupo}}</a></li>  
                        {%endif%}
                        
                      {% endif %}
                    {% endfor %}
                  </ul>

                  <div class="tab-content">
                    {% for grupo,integrantes_grupo in grupos %}
                      {%if integrantes_grupo.count %}


                        {% if forloop.counter0 == 0 %}
                        <div id="{{grupo}}_" class="tab-pane fade in active ">
                        {%endif%}                        
                        {% if forloop.counter0 > 0 %}
                        <div id="{{grupo}}_" class="tab-pane fade ">  
                        {%endif%}                        
                        
                          <!-- Encabezado con Integrantes -->
                          <br>             
                          <p style="font-size:14px;color:black; text-decoration:underline; "> <b>Integrantes:</b> </p>     
                          <ul>
                            {% for integrante in integrantes_grupo %}
                              <li>
                                <p style="font-size:15px;color:black;padding: 0px;margin: 0px">  
                                  {%if disciplina.tipo in 'Grupal'%}
                                    {{integrante.nombre|title}}
                                  {%endif%}
                                  {%if disciplina.tipo in 'Individual'%}
                                    {{integrante.apellido|title}}, {{integrante.nombre|title}} ({{integrante.delegacion.nombre}}) 
                                  {%endif%}
                                </p>
                              </li>
                            {% endfor %}
                          </ul>

                          <!-- Segunda NavTab con las competencias del grupo -->
                          <div class="container">
                            <ul class="nav nav-tabs">
                              {% for competencia in disciplina.competencias.all|in_group:grupo %}
                                  {% if forloop.counter0 == 0 %}
                                    <li class="active"><a data-toggle="tab" href="#{{competencia.pk}}">{{competencia.pk}}</a></li>
                                  {%endif%}
                                  {% if forloop.counter0 > 0 %}
                                    <li><a data-toggle="tab" href="#{{competencia.pk}}">{{competencia.pk}}</a></li>
                                  {%endif%}
                              {% endfor %}
                            </ul>

                            <div class="tab-content">
                              {% for competencia in disciplina.competencias.all|in_group:grupo %}
                                {% if forloop.counter0 == 0 %}
                                <div id="{{competencia.pk}}" class="tab-pane fade in active">
                                {%endif%}                        
                                {% if forloop.counter0 > 0 %}
                                <div id="{{competencia.pk}}" class="tab-pane fade">
                                {%endif%}  
                                  {% include "torneo/disciplina_editarfixture_detallescompetencias.html" %}
                                </div>
                              {% endfor %}
                            </div>
                          </div>
                        

                          <!-- Tabla de Posiciones del Grupo-->
                          <p style="font-size:14px;color:black; text-decoration:underline; "> <b>Tabla de Posiciones:</b> </p>
                          <div style="background-color: #fff">
                            {%with posiciones=disciplina.posiciones.all|in_group:grupo %}
                              {% include "torneo/disciplina_tablaposiciones_grupo.html" %}
                            {%endwith%}
                          </div>

                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>

            {% endif %}



            {%if disciplina.grupos_mas_playoff.first.fase_grupos_iniciada and not disciplina.grupos_mas_playoff.first.fase_grupos_finalizada%}
              <div style="background-color: rgb(247, 22, 22,0.85); padding:10px; height: 55px; margin-top: 5px;">
                <a class="btn btn-default" href="{% url 'vista_disciplina_reiniciargrupos' id_olimpiada=olimpiada.pk id_disciplina=disciplina.pk %}" style="float:right;">
                  <span class="glyphicon glyphicon-object-align-horizontal"></span> Reiniciar Grupos
                </a>
                <p style="color:black"><b>  Atención: Se perderán todos los cambios realizados en la fase de grupos (se mantiene la configuración de los mismos).</b></p>
              </div>
            {% endif %}

          {% endif %}  
        </div>
        

        <div class="full_width first" style="margin-top: 3%; margin-bottom: 3%;">
          {% if disciplina.grupos_mas_playoff.first.fase_grupos_finalizada and not disciplina.grupos_mas_playoff.first.playoff_iniciado %}
            <h2> Fase Eliminatoria </h2>
            <li> <a class="btn btn-default" href="{% url 'vista_disciplina_crearfixture' id_olimpiada=olimpiada.pk id_disciplina=disciplina.pk %}"><span class="glyphicon glyphicon-object-align-horizontal"></span> Iniciar Fase Eliminatoria </a> </li>
          {% endif %}

          {% if disciplina.grupos_mas_playoff.first.playoff_iniciado %}
            <h2> Fase Eliminatoria </h2>
            
            <div style="background-color: rgb(216, 214, 67, 0.85); padding:10px; height: 55px">
              <a class="btn btn-default" href="{% url 'vista_disciplina_actualizarfixture' id_olimpiada=olimpiada.pk  id_disciplina=disciplina.pk %}" style="float:left"> 
                <span class="glyphicon glyphicon-equalizer"></span> Actualizar Playoff
              </a>
            </div>
          
            <div style="background-color:rgb(221, 234, 255); padding: 15px; margin-top:15px;">
              <p style="font-size:19px;color:black; text-decoration:underline; "> <b>Resultados Playoff</b> </p>
              

              <!-- NavTab con las competencias de la fase elimintoria -->
              {% with "Eliminatoria" as zona %}
                <div class="container">
                  <ul class="nav nav-tabs">
                    {% for competencia in disciplina.competencias.all|in_zone:zona %}
                        {% if forloop.counter0 == 0 %}
                          <li class="active"><a data-toggle="tab" href="#{{competencia.pk}}">{{competencia.nombre}}</a></li>
                        {%endif%}
                        {% if forloop.counter0 > 0 %}
                          <li><a data-toggle="tab" href="#{{competencia.pk}}">{{competencia.nombre}}</a></li>
                        {%endif%}
                        
                    {% endfor %}
                  </ul>

                  <div class="tab-content">
                    {% for competencia in disciplina.competencias.all|in_zone:zona %}
                      {% if forloop.counter0 == 0 %}
                        <div id="{{competencia.pk}}" class="tab-pane fade in active">
                          {% include "torneo/disciplina_editarfixture_detallescompetencias.html" %}
                        </div>                          
                      {%endif%}
                      {% if forloop.counter0 > 0 %}
                        <div id="{{competencia.pk}}" class="tab-pane fade">
                          {% include "torneo/disciplina_editarfixture_detallescompetencias.html" %}
                        </div>
                      {%endif%}
                    {% endfor %}
                  </div>

                  <!-- Tabla de Posiciones del Playoff-->
                  <p style="font-size:14px;color:black; text-decoration:underline; "> <b>Tabla de Posiciones Playoff</b> </p>
                  <div style="background-color: #fff">
                    {%with posiciones=disciplina.posiciones.all|in_zone:zona %}
                      {% include "torneo/disciplina_tablaposiciones_playoff.html" %}
                    {%endwith%}
                  </div>

                </div>
              {%endwith%}


            </div>
            <br>
            <div style="background-color: rgb(247, 22, 22,0.85); padding:10px">
              <a class="btn btn-default" href="{% url 'vista_disciplina_reiniciarfixture' id_olimpiada=olimpiada.pk id_disciplina=disciplina.pk %}" style="float:right">
                <span class="glyphicon glyphicon-object-align-horizontal"></span> Reiniciar Fixture
              </a> 
              <p style="color:black;"><b>Atención: Se perderán todos los cambios realizados en la fase eliminatoria. </b></p>
            </div>
          {% endif %}  
        </div>


        <div class="full_width first">
          {%if disciplina.grupos_mas_playoff.count %}
            <div style="background-color: rgb(247, 22, 22,0.85); padding:10px; height: 55px; margin-top: 5px;">
              <a class="btn btn-default" href="{% url 'vista_disciplina_reiniciarmodalidad' id_olimpiada=olimpiada.pk id_disciplina=disciplina.pk %}" style="float:right">
                <span class="glyphicon glyphicon-object-align-horizontal"></span> Reiniciar Modalidad
              </a>
              <p style="color:black"><b>  Atención: Se perderán todos los cambios realizados (se pierde incluso la configuración de los grupos).</b></p>
            </div>
          {% endif %}  
        </div>

      {%endif%}





      <!---------------------------------------------------------------------------------------------------------------->
      <!-- Caso Rondas de Clasificacion -------------------------------------------------------------------------------->
      <!---------------------------------------------------------------------------------------------------------------->
      {% if disciplina.modalidad == 'RondasClasificacion' %}
        <div class="one_half first">
          {%if not disciplina.rondas_clasificacion.count %}
            <h2> Rondas de Clasificación </h2>
            <div style="background-color: rgb(216, 214, 67, 0.85); padding:10px; height: 55px">
              <a class="btn btn-default" href="{% url 'vista_disciplina_iniciarmodalidad' id_olimpiada=olimpiada.pk id_disciplina=disciplina.pk %}" style="float:left">
                <span class="glyphicon glyphicon-edit"></span> Iniciar Modalidad
              </a>
            </div>
          {% endif %}

          <!-- Clasificación -->
          {%if disciplina.rondas_clasificacion.count %}
            <h2> Rondas de Clasificación </h2>  

            <!-- Configurar/Iniciar Grupos -->
            {%if not disciplina.rondas_clasificacion.first.fase_clasificacion_iniciada %}
              <div style="background-color: rgb(216, 214, 67, 0.85); padding:10px; height: 55px">
                <a class="btn btn-default" href="{% url 'admin:torneo_rondasclasificacion_change' disciplina.rondas_clasificacion.first.pk %}" style="float:left">
                  <span class="glyphicon glyphicon-edit"></span> Configurar Grupos
                </a>
              </div>

              <div style="background-color: rgb(58, 158, 65, 0.85); padding:10px; height: 55px; margin-top: 5px;">
                <a class="btn btn-default" href="{% url 'vista_disciplina_iniciargrupos' id_olimpiada=olimpiada.pk id_disciplina=disciplina.pk %}" style="float:left">
                  <span class="glyphicon glyphicon-object-align-horizontal"></span> Iniciar Fase de Grupos
                </a>
              </div>
            {% endif %}

            <!-- Actualizar/Reiniciar Grupos -->
            {%if disciplina.rondas_clasificacion.first.fase_clasificacion_iniciada and not disciplina.rondas_clasificacion.first.fase_clasificacion_finalizada%}
              <div style="background-color: rgb(216, 214, 67, 0.85); padding:10px; height: 55px">
                <a class="btn btn-default" href="{% url 'vista_disciplina_actualizargrupos' id_olimpiada=olimpiada.pk id_disciplina=disciplina.pk %}" style="float:left">
                  <span class="glyphicon glyphicon-object-align-horizontal"></span> Actualizar Grupos
                </a>
              </div>
            {% endif %}

            {%if disciplina.rondas_clasificacion.first.fase_clasificacion_iniciada%}
              <!-- Competencias y Resultados por Grupo ------------------------------------------------------->
              {% for grupo,integrantes_grupo in grupos %}
                {%if integrantes_grupo.count %}
                  <div style="background-color:rgb(221, 234, 255); padding: 15px; margin-top:15px;">                
                    <p style="font-size:19px;color:black; text-decoration:underline; "> <b>{{grupo|title}}</b> </p>
                    <p style="font-size:16px;color:black; text-decoration:underline; "> <b>Integrantes:</b> </p>                  
                    <ul>
                      {% for integrante in integrantes_grupo %}
                        <li>
                          <p style="font-size:15px;color:black;padding: 0px;margin: 0px">  
                            {%if disciplina.tipo in 'Grupal'%}
                              {{integrante.nombre|title}}
                            {%endif%}
                            {%if disciplina.tipo in 'Individual'%}
                              {{integrante.apellido|title}}, {{integrante.nombre|title}} ({{integrante.delegacion.nombre}}) 
                            {%endif%}

                          </p>
                        </li>
                      {% endfor %}
                    </ul>
                    
                    <div class="accordion-wrapper">
                      <a href="javascript:void(0)" class="accordion-title orange">
                        <span> Competencias </span>
                        <div class="accordion-content">
                          {% for competencia in disciplina.competencias.all|in_group:grupo %}
                            {% include "torneo/disciplina_editarfixture_detallescompetencias.html" %}
                          {% endfor %}
                        </div>
                      </a>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}  
            
            {% endif %}


            {%if disciplina.rondas_clasificacion.first.fase_clasificacion_iniciada and not disciplina.rondas_clasificacion.first.finalizada%}
              <div style="background-color: rgb(247, 22, 22,0.85); padding:10px; height: 55px; margin-top: 5px;">
                <a class="btn btn-default" href="{% url 'vista_disciplina_reiniciargrupos' id_olimpiada=olimpiada.pk id_disciplina=disciplina.pk %}" style="float:right;">
                  <span class="glyphicon glyphicon-object-align-horizontal"></span> Reiniciar Grupos
                </a>
                <p style="color:black"><b>  Atención: Se perderán todos los cambios realizados en la fase de grupos (se mantiene la configuración de los mismos).</b></p>
              </div>
            {% endif %}

          {% endif %}  
        </div>
        

        <div class="one_half">
          <!-- Tabla de Posiciones Grupos-->
          {%if disciplina.rondas_clasificacion.first.fase_clasificacion_iniciada%}   
            {% for grupo,integrantes_grupo in grupos %}
              {%if integrantes_grupo.count %}
                <div>
                  <p style="font-size: 25px; margin-top: 0px">Ronda de Clasificación {{grupo|title}} </p>       
                  {%with posiciones=disciplina.posiciones.all|in_group:grupo %}
                    {% include "torneo/disciplina_tablaposiciones_grupo.html" %}
                  {%endwith%}
                </div>
              {%endif%}
            {% endfor %} 
          {%endif%}
        </div>

        <!-- Semifinales -->
        <div class="one_half first">
          {% if disciplina.rondas_clasificacion.first.fase_clasificacion_finalizada and not disciplina.rondas_clasificacion.first.fase_semifinal_iniciada %}
            {% if disciplina.rondas_clasificacion.first.nrondas == 3 %}
              <h2> Semifinales </h2>
              <li> <a class="btn btn-default" href="{% url 'vista_disciplina_iniciarsemifinales' id_olimpiada=olimpiada.pk id_disciplina=disciplina.pk %}"><span class="glyphicon glyphicon-object-align-horizontal"></span> Iniciar Semifinales </a> </li>
            {% endif %}
          {% endif %}

          {% if disciplina.rondas_clasificacion.first.fase_semifinal_iniciada %}
            {% if not disciplina.rondas_clasificacion.first.fase_semifinal_finalizada %}
              <h2> Semifinales </h2>
              <li>
                <div style="background-color: rgb(216, 214, 67, 0.85); padding:10px; height: 55px">
                  <a class="btn btn-default" href="{% url 'vista_disciplina_actualizarsemifinales' id_olimpiada=olimpiada.pk  id_disciplina=disciplina.pk %}" style="float:left"> 
                    <span class="glyphicon glyphicon-equalizer"></span> Actualizar
                  </a>
                </div>
              </li>
            {% endif %}      
          {% endif %} 

          <!-- Competencias y Resultados por Grupo Semis ------------------------------------------------------>
          {% if disciplina.rondas_clasificacion.first.fase_semifinal_iniciada %}
            {% for grupo,integrantes_grupo in grupos_semis %}
              {%if integrantes_grupo.count %}
                <div style="background-color:rgb(221, 234, 255); padding: 15px; margin-top:15px;">                
                  <p style="font-size:19px;color:black; text-decoration:underline; "> <b>{{grupo|title}}</b> </p>
                  <p style="font-size:16px;color:black; text-decoration:underline; "> <b>Integrantes:</b> </p>                  
                  <ul>
                    {% for integrante in integrantes_grupo %}
                      <li>
                        <p style="font-size:15px;color:black;padding: 0px;margin: 0px">  
                          {%if disciplina.tipo in 'Grupal'%}
                            {{integrante.nombre|title}}
                          {%endif%}
                          {%if disciplina.tipo in 'Individual'%}
                            {{integrante.apellido|title}}, {{integrante.nombre|title}} ({{integrante.delegacion.nombre}}) 
                          {%endif%}

                        </p>
                      </li>
                    {% endfor %}
                  </ul>
                  
                  <div class="accordion-wrapper">
                    <a href="javascript:void(0)" class="accordion-title orange">
                      <span> Competencias </span>
                      <div class="accordion-content">
                        {% for competencia in disciplina.competencias.all|in_group:grupo %}
                          {% include "torneo/disciplina_editarfixture_detallescompetencias.html" %}
                        {% endfor %}
                      </div>
                    </a>
                  </div>
                </div>

              {% endif %}
            {% endfor %}  
          {% endif %}

          {% if disciplina.rondas_clasificacion.first.fase_semifinal_iniciada %}
            {% if not disciplina.rondas_clasificacion.first.fase_semifinal_finalizada %}
              <br>
              <div style="background-color: rgb(247, 22, 22,0.85); padding:10px">
                <a class="btn btn-default" href="{% url 'vista_disciplina_reiniciarsemifinales' id_olimpiada=olimpiada.pk id_disciplina=disciplina.pk %}" style="float:right">
                  <span class="glyphicon glyphicon-object-align-horizontal"></span> Reiniciar Semifinal
                </a> 
                <p style="color:black;"><b>Atención: Se perderán todos los cambios realizados en la fase semifinal. </b></p>
              </div>
            {% endif %}
          {% endif %}  
        </div>


        <div class="one_half">
        <!-- Tabla de Posiciones Semifinales-->
        {% if disciplina.rondas_clasificacion.first.fase_semifinal_iniciada %}            
            {% for grupo,integrantes_grupo in grupos_semis %}
              {%if integrantes_grupo.count %}
                <div>
                  <p style="font-size: 25px; margin-top: 0px"> {{grupo|title}} </p>       
                  {%with posiciones=disciplina.posiciones.all|in_group:grupo %}
                    {% include "torneo/disciplina_tablaposiciones_grupo.html" %}
                  {%endwith%}
                </div>
              {%endif%}
            {% endfor %} 
          {%endif%}
        </div>


        <!-- Final -->
        <div class="one_half first">
          {% if disciplina.rondas_clasificacion.first.fase_semifinal_finalizada and not disciplina.rondas_clasificacion.first.fase_final_iniciada %}
            <h2> Final </h2>
            <li> <a class="btn btn-default" href="{% url 'vista_disciplina_crearfixture' id_olimpiada=olimpiada.pk id_disciplina=disciplina.pk %}"><span class="glyphicon glyphicon-object-align-horizontal"></span> Iniciar Final </a> </li>
          {% endif %}

          {% if disciplina.rondas_clasificacion.first.fase_final_iniciada %}
            <h2> Final </h2>
            <li>
              <div style="background-color: rgb(216, 214, 67, 0.85); padding:10px; height: 55px">
                <a class="btn btn-default" href="{% url 'vista_disciplina_actualizarfixture' id_olimpiada=olimpiada.pk  id_disciplina=disciplina.pk %}" style="float:left"> 
                  <span class="glyphicon glyphicon-equalizer"></span> Actualizar
                </a>
              </div>
            </li>

            <div style="background-color:rgb(221, 234, 255); padding: 15px; margin-top:15px;">
              <p style="font-size:19px;color:black; text-decoration:underline; "> <b>Final</b> </p>
              <div class="accordion-wrapper">
                <a href="javascript:void(0)" class="accordion-title orange">
                  <span> Competencias </span>
                  <div class="accordion-content">
                    {% with "Final" as zona %}
                      {% for competencia in disciplina.competencias.all|in_zone:zona %}
                        {% include "torneo/disciplina_editarfixture_detallescompetencias.html" %}
                      {% endfor %}
                    {%endwith%}
                  </div>
                </a>
              </div>

            </div>
            <br>
            <div style="background-color: rgb(247, 22, 22,0.85); padding:10px">
              <a class="btn btn-default" href="{% url 'vista_disciplina_reiniciarfixture' id_olimpiada=olimpiada.pk id_disciplina=disciplina.pk %}" style="float:right">
                <span class="glyphicon glyphicon-object-align-horizontal"></span> Reiniciar Final
              </a> 
              <p style="color:black;"><b>Atención: Se perderán todos los cambios realizados en la final. </b></p>
            </div>
          {% endif %}  
        </div>

        <div class="one_half">
          <!-- Tabla de Posiciones Fixture-->
          {%if disciplina.rondas_clasificacion.first.fase_final_iniciada%}              
            <div>
              <p style="font-size: 25px; margin-top: 0px">Final </p>       
              {% with "Final" as zona %}
                {%with posiciones=disciplina.posiciones.all|in_zone:zona %}
                  {% include "torneo/disciplina_tablaposiciones_playoff.html" %}
                {%endwith%}
              {%endwith%}
            </div>
          {%endif%}
        </div>


        <div class="one_half first">
          {%if disciplina.rondas_clasificacion.count %}
            <div style="background-color: rgb(247, 22, 22,0.85); padding:10px; height: 55px; margin-top: 5px;">
              <a class="btn btn-default" href="{% url 'vista_disciplina_reiniciarmodalidad' id_olimpiada=olimpiada.pk id_disciplina=disciplina.pk %}" style="float:right">
                <span class="glyphicon glyphicon-object-align-horizontal"></span> Reiniciar Modalidad
              </a>
              <p style="color:black"><b>  Atención: Se perderán todos los cambios realizados (se pierde incluso la configuración de los grupos).</b></p>
            </div>
          {% endif %}  
        </div>

      {%endif%}







      <!---------------------------------------------------------------------------------------------------------------->
      <!-- Liga -------------------------------------------------------------------------------------------------------->
      <!---------------------------------------------------------------------------------------------------------------->
      {% if disciplina.modalidad == 'Liga' %}
        <div class="full_width first">
          {%if not disciplina.grupos_mas_playoff.count %}
            <div style="background-color: rgb(216, 214, 67, 0.85); padding:10px; height: 55px">
              <a class="btn btn-default" href="{% url 'vista_disciplina_iniciarmodalidad' id_olimpiada=olimpiada.pk id_disciplina=disciplina.pk %}" style="float:left">
                <span class="glyphicon glyphicon-edit"></span> Iniciar Liga
              </a>
            </div>
          {% endif %}


          {%if disciplina.grupos_mas_playoff.count %}
            <h2> Liga </h2>  


            <!-- Actualizar/Reiniciar Grupos -->
            {%if disciplina.grupos_mas_playoff.first.fase_grupos_iniciada%}
              <div style="background-color: rgb(216, 214, 67, 0.85); padding:10px; height: 55px">
                <a class="btn btn-default" href="{% url 'vista_disciplina_actualizargrupos' id_olimpiada=olimpiada.pk id_disciplina=disciplina.pk %}" style="float:left">
                  <span class="glyphicon glyphicon-object-align-horizontal"></span> Actualizar Liga
                </a>
              </div>


              <!-- Competencias y Resultados por Grupo ------------------------------------------------------->
              <div style="background-color:rgb(221, 234, 255); padding: 15px; margin-top:15px;">  
                <div class="container">
                  <h2>Resultados</h2>

                  <ul class="nav nav-pills">
                    {% for grupo,integrantes_grupo in grupos %}
                      {%if integrantes_grupo.count %}
                        {% if forloop.counter0 == 0 %}
                          <li class="active"><a data-toggle="tab" href="#{{grupo}}_">{{grupo}}</a></li>
                        {%endif%}
                        {% if forloop.counter0 > 0 %}
                          <li><a data-toggle="tab" href="#{{grupo}}_">{{grupo}}</a></li>  
                        {%endif%}
                        
                      {% endif %}
                    {% endfor %}
                  </ul>

                  <div class="tab-content">
                    {% for grupo,integrantes_grupo in grupos %}
                      {%if integrantes_grupo.count %}


                        {% if forloop.counter0 == 0 %}
                        <div id="{{grupo}}_" class="tab-pane fade in active ">
                        {%endif%}                        
                        {% if forloop.counter0 > 0 %}
                        <div id="{{grupo}}_" class="tab-pane fade ">  
                        {%endif%}                        
                        
                          <!-- Encabezado con Integrantes -->
                          <br>             
                          <p style="font-size:14px;color:black; text-decoration:underline; "> <b>Integrantes:</b> </p>     
                          <ul>
                            {% for integrante in integrantes_grupo %}
                              <li>
                                <p style="font-size:15px;color:black;padding: 0px;margin: 0px">  
                                  {%if disciplina.tipo in 'Grupal'%}
                                    {{integrante.nombre|title}}
                                  {%endif%}
                                  {%if disciplina.tipo in 'Individual'%}
                                    {{integrante.apellido|title}}, {{integrante.nombre|title}} ({{integrante.delegacion.nombre}}) 
                                  {%endif%}
                                </p>
                              </li>
                            {% endfor %}
                          </ul>

                          <!-- Segunda NavTab con las competencias del grupo -->
                          <div class="container">
                            <ul class="nav nav-tabs">
                              {% for competencia in disciplina.competencias.all|in_group:grupo %}
                                  {% if forloop.counter0 == 0 %}
                                    <li class="active"><a data-toggle="tab" href="#{{competencia.pk}}">{{competencia.pk}}</a></li>
                                  {%endif%}
                                  {% if forloop.counter0 > 0 %}
                                    <li><a data-toggle="tab" href="#{{competencia.pk}}">{{competencia.pk}}</a></li>
                                  {%endif%}
                              {% endfor %}
                            </ul>

                            <div class="tab-content">
                              {% for competencia in disciplina.competencias.all|in_group:grupo %}
                                {% if forloop.counter0 == 0 %}
                                <div id="{{competencia.pk}}" class="tab-pane fade in active">
                                {%endif%}                        
                                {% if forloop.counter0 > 0 %}
                                <div id="{{competencia.pk}}" class="tab-pane fade">
                                {%endif%}  
                                  {% include "torneo/disciplina_editarfixture_detallescompetencias.html" %}
                                </div>
                              {% endfor %}
                            </div>
                          </div>
                        

                          <!-- Tabla de Posiciones del Grupo-->
                          <p style="font-size:14px;color:black; text-decoration:underline; "> <b>Tabla de Posiciones:</b> </p>
                          <div style="background-color: #fff">
                            {%with posiciones=disciplina.posiciones.all|in_group:grupo %}
                              {% include "torneo/disciplina_tablaposiciones_grupo.html" %}
                            {%endwith%}
                          </div>

                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>  

            {% endif %}
          {% endif %}  
        </div>


        <div class="full_width first">
          {%if disciplina.grupos_mas_playoff.count %}
            <div style="background-color: rgb(247, 22, 22,0.85); padding:10px; height: 55px; margin-top: 5px;">
              <a class="btn btn-default" href="{% url 'vista_disciplina_reiniciarmodalidad' id_olimpiada=olimpiada.pk id_disciplina=disciplina.pk %}" style="float:right">
                <span class="glyphicon glyphicon-object-align-horizontal"></span> Reiniciar Modalidad
              </a>
              <p style="color:black"><b>  Atención: Se perderán todos los cambios realizados.</b></p>
            </div>
          {% endif %}  
        </div>

      {%endif%}


    </div>
  </div>
 
  <div class="clear"></div>


</div>  
        
        
{% endblock %}




