<!DOCTYPE html>
{% load thumbnail %}

<!-- Tabla de POSICIONES --> 
<table style="width:100%">
  <thead>
    <tr class="info">
      <th>Pos</th>
      <th>Foto</th>

      {% if disciplina.tipo in 'Grupal'%}
        <th>Equipo</th>
      {% endif %}          
      {% if disciplina.tipo in 'Individual'%}
        <th>Participante</th>
      {% endif %} 

      {% if disciplina.deporte.nombre in 'Fútbol'%}
        <th>PTS</th>
        <th>G</th>
        <th>E</th>
        <th>P</th>
        <th>GDIF</th>
        <th>GF</th>
        <th>GC</th>
        <th>Rojas</th>
        <th>Amarillas</th>
      {% endif %} 

      {% if disciplina.deporte.nombre in 'Hockey'%}
        <th>PTS</th>
        <th>G</th>
        <th>E</th>
        <th>P</th>
        <th>GDIF</th>
        <th>GF</th>
        <th>GC</th>
        <th>Rojas</th>
        <th>Amarillas</th>
        <th>Verdes</th>
      {% endif %} 

      {% if disciplina.deporte.nombre in 'Handball'%}
        <th>PTS</th>
        <th>G</th>
        <th>E</th>
        <th>P</th>
        <th>GDIF</th>
        <th>GF</th>
        <th>GC</th>
        <th>Rojas</th>
        <th>Amarillas</th>
        <th>Azules</th>
      {% endif %} 

      {% if disciplina.deporte.nombre in 'Basquet'%}
        <th>PTS</th>
        <th>G</th>
        <th>P</th>
        <th>PDIF</th>
        <th>PF</th>
        <th>PC</th>
      {% endif %}
      {% if disciplina.deporte.nombre in 'Bochas'%}
        <th>PTS</th>
        <th>G</th>
        <th>P</th>
        <th>PDIF</th>
        <th>PF</th>
        <th>PC</th>
      {% endif %}


      {% if disciplina.deporte.nombre == 'Tenis'%}
        <th>PTS</th>
        <th>G</th>
        <th>P</th>
        <th>SDIF</th>
        <th>SF</th>
        <th>SC</th>
        <th>GDIF</th>
        <th>GF</th>
        <th>GC</th>
      {% endif %}
      {% if disciplina.deporte.nombre in 'Pádel'%}
        <th>PTS</th>
        <th>G</th>
        <th>P</th>
        <th>SDIF</th>
        <th>SF</th>
        <th>SC</th>
        <th>GDIF</th>
        <th>GF</th>
        <th>GC</th>
      {% endif %}


      {% if disciplina.deporte.nombre == 'Tenis de Mesa'%}
        <th>PTS</th>
        <th>G</th>
        <th>P</th>
        <th>SDIF</th>
        <th>SF</th>
        <th>SC</th>
        <th>PDDIF</th>
        <th>PF</th>
        <th>PC</th>
      {% endif %}

      {% if disciplina.deporte.nombre in 'Voley'%}
        <th>PTS</th>
        <th>G</th>
        <th>P</th>
        <th>SDIF</th>
        <th>SF</th>
        <th>SC</th>
        <th>PDDIF</th>
        <th>PF</th>
        <th>PC</th>
        <th>Rojas</th>
        <th>Amarillas</th>
      {% endif %}

      {% if disciplina.deporte.nombre in 'Pesca'%}
        <th>Puntos</th>
        <th>Peso[g]</th>
        <th>Cantidad</th>
      {% endif %}

      {% if disciplina.deporte.nombre in 'Natación'%}
        <th>Puntos</th>
        <th>Tiempo[s]</th>
      {% endif %}
      {% if disciplina.deporte.nombre in 'Aguas Abiertas'%}
        <th>Puntos</th>
        <th>Tiempo[s]</th>
      {% endif %}
      {% if disciplina.deporte.nombre in 'Ciclismo'%}
        <th>Puntos</th>
        <th>Tiempo[s]</th>
      {% endif %}
      {% if disciplina.deporte.nombre in 'Vela'%}
        <th>Puntos</th>
        <th>Tiempo[s]</th>
      {% endif %}
      {% if disciplina.deporte.nombre in 'Caminata/Carrera' %}
        <th>Puntos</th>
        <th>Tiempo[s]</th>
      {% endif %}

     
      {% if disciplina.deporte.nombre in 'Atletismo' and disciplina.nombre == 'Salto en Largo'%}
        <th>Puntos</th>
        <th>Distancia[m]</th>
      {% endif %}
      {% if disciplina.deporte.nombre in 'Atletismo' and disciplina.nombre != 'Salto en Largo'%}
        <th>Puntos</th>
        <th>Tiempo[s]</th>
      {% endif %}

      {% if disciplina.deporte.nombre in 'Recreativos'%}
        <th>PTS</th>
        <th>G</th>
        <th>P</th>
        <th>PDIF</th>
        <th>PF</th>
        <th>PC</th>
      {% endif %}


    </tr>     
  </thead>
  
  <tbody>
    {% for posicion in posiciones|dictsort:"posicion" %}      
      <tr class="info">
        
        <th>{{posicion.posicion}}</th>

        {% if disciplina.tipo in 'Grupal'%}
          <th> 
            {% thumbnail posicion.equipo.foto_equipo "60x40" crop="top" as im %}
              <img src="{{ im.url }}">
            {% endthumbnail %}
          </th>
        {% endif %}          
        {% if disciplina.tipo in 'Individual'%}
          <th> 
            {% thumbnail posicion.participante.foto "40x60" crop="top" as im %}
              <img src="{{ im.url }}">
            {% endthumbnail %}
          </th>
        {% endif %} 


        {% if disciplina.tipo in 'Grupal'%}
          <th><a href="{% url 'vista_equipo' id_olimpiada=olimpiada.pk id_equipo=posicion.equipo.pk %}"> {{posicion.equipo.nombre|title}}</a></th>
        {% endif %}          
        {% if disciplina.tipo in 'Individual'%}
          <th> <a href="{% url 'vista_jugador' id_olimpiada=olimpiada.pk id_jugador=posicion.participante.pk %}">  
            {{posicion.participante.apellido|title}}, {{posicion.participante.nombre|title}} ({{posicion.participante.delegacion.nombre}})</a> 
          </th>                  
        {% endif %} 
        
        {% if disciplina.deporte.nombre in 'Fútbol'%}
          <th>{{posicion.puntos}}</th>
          <th>{{posicion.partidos_ganados}}</th>
          <th>{{posicion.partidos_empatados}}</th>
          <th>{{posicion.partidos_perdidos}}</th>
          <th>{{posicion.goles_dif}}</th>
          <th>{{posicion.goles_favor}}</th>
          <th>{{posicion.goles_contra}}</th>
          <th>{{posicion.rojas}}</th>
          <th>{{posicion.amarillas}}</th>
        {% endif %} 

        {% if disciplina.deporte.nombre in 'Hockey'%}
          <th>{{posicion.puntos}}</th>
          <th>{{posicion.partidos_ganados}}</th>
          <th>{{posicion.partidos_empatados}}</th>
          <th>{{posicion.partidos_perdidos}}</th>
          <th>{{posicion.goles_dif}}</th>
          <th>{{posicion.goles_favor}}</th>
          <th>{{posicion.goles_contra}}</th>
          <th>{{posicion.rojas}}</th>
          <th>{{posicion.amarillas}}</th>
          <th>{{posicion.verdes}}</th>
        {% endif %} 

        {% if disciplina.deporte.nombre in 'Handball'%}
          <th>{{posicion.puntos}}</th>
          <th>{{posicion.partidos_ganados}}</th>
          <th>{{posicion.partidos_empatados}}</th>
          <th>{{posicion.partidos_perdidos}}</th>
          <th>{{posicion.goles_dif}}</th>
          <th>{{posicion.goles_favor}}</th>
          <th>{{posicion.goles_contra}}</th>
          <th>{{posicion.rojas}}</th>
          <th>{{posicion.amarillas}}</th>
          <th>{{posicion.azules}}</th>
        {% endif %} 

        {% if disciplina.deporte.nombre in 'Basquet'%}
          <th>{{posicion.puntos}}</th>
          <th>{{posicion.partidos_ganados}}</th>
          <th>{{posicion.partidos_perdidos}}</th>
          <th>{{posicion.puntos_dif}}</th>
          <th>{{posicion.puntos_favor}}</th>
          <th>{{posicion.puntos_contra}}</th>
        {% endif %}
        {% if disciplina.deporte.nombre in 'Bochas'%}
          <th>{{posicion.puntos}}</th>
          <th>{{posicion.partidos_ganados}}</th>
          <th>{{posicion.partidos_perdidos}}</th>
          <th>{{posicion.puntos_dif}}</th>
          <th>{{posicion.puntos_favor}}</th>
          <th>{{posicion.puntos_contra}}</th>
        {% endif %}

        {% if disciplina.deporte.nombre == 'Tenis'%}
          <th>{{posicion.puntos}}</th>
          <th>{{posicion.partidos_ganados}}</th>
          <th>{{posicion.partidos_perdidos}}</th>
          <th>{{posicion.sets_dif}}</th>
          <th>{{posicion.sets_favor}}</th>
          <th>{{posicion.sets_contra}}</th>
          <th>{{posicion.games_dif}}</th>
          <th>{{posicion.games_favor}}</th>
          <th>{{posicion.games_contra}}</th>                 
        {% endif %}
        {% if disciplina.deporte.nombre in 'Pádel'%}
          <th>{{posicion.puntos}}</th>
          <th>{{posicion.partidos_ganados}}</th>
          <th>{{posicion.partidos_perdidos}}</th>
          <th>{{posicion.sets_dif}}</th>
          <th>{{posicion.sets_favor}}</th>
          <th>{{posicion.sets_contra}}</th>
          <th>{{posicion.games_dif}}</th>
          <th>{{posicion.games_favor}}</th>
          <th>{{posicion.games_contra}}</th>                 
        {% endif %}

        {% if disciplina.deporte.nombre == 'Tenis de Mesa'%}
          <th>{{posicion.puntos}}</th>
          <th>{{posicion.partidos_ganados}}</th>
          <th>{{posicion.partidos_perdidos}}</th>
          <th>{{posicion.sets_dif}}</th>
          <th>{{posicion.sets_favor}}</th>
          <th>{{posicion.sets_contra}}</th>
          <th>{{posicion.puntos_dif}}</th>
          <th>{{posicion.puntos_favor}}</th>
          <th>{{posicion.puntos_contra}}</th>
        {% endif %}

        {% if disciplina.deporte.nombre in 'Voley'%}
          <th>{{posicion.puntos}}</th>
          <th>{{posicion.partidos_ganados}}</th>
          <th>{{posicion.partidos_perdidos}}</th>
          <th>{{posicion.sets_dif}}</th>
          <th>{{posicion.sets_favor}}</th>
          <th>{{posicion.sets_contra}}</th>
          <th>{{posicion.puntos_dif}}</th>
          <th>{{posicion.puntos_favor}}</th>
          <th>{{posicion.puntos_contra}}</th>
          <th>{{posicion.rojas}}</th>
          <th>{{posicion.amarillas}}</th>
        {% endif %}

        {% if disciplina.deporte.nombre in 'Pesca'%}
          <th>{{posicion.puntos}}</th>
          <th>{{posicion.peso}}</th>
          <th>{{posicion.cantidad}}</th>
        {% endif %}

        {% if disciplina.deporte.nombre in 'Natación'%}
          <th>{{posicion.puntos}}</th>
          <th>{{posicion.tiempo}}</th>
        {% endif %}
        {% if disciplina.deporte.nombre in 'Aguas Abiertas'%}
          <th>{{posicion.puntos}}</th>
          <th>{{posicion.tiempo}}</th>
        {% endif %}
        {% if disciplina.deporte.nombre in 'Ciclismo'%}
          <th>{{posicion.puntos}}</th>
          <th>{{posicion.tiempo}}</th>
        {% endif %}
        {% if disciplina.deporte.nombre in 'Vela'%}
          <th>{{posicion.puntos}}</th>
          <th>{{posicion.tiempo}}</th>
        {% endif %}
        {% if disciplina.deporte.nombre in 'Caminata/Carrera' %}
          <th>{{posicion.puntos}}</th>
          <th>{{posicion.tiempo}}</th>
        {% endif %}

        {% if disciplina.deporte.nombre in 'Atletismo'%}
          <th>{{posicion.puntos}}</th>
          <th>{{posicion.tiempo}}</th>
          <th>{{posicion.distancia}}</th>
        {% endif %}

        {% if disciplina.deporte.nombre in 'Atletismo' and disciplina.nombre == 'Salto en Largo'%}
          <th>{{posicion.puntos}}</th>
          <th>{{posicion.distancia}}</th>
        {% endif %}
        {% if disciplina.deporte.nombre in 'Atletismo' and disciplina.nombre != 'Salto en Largo'%}
          <th>{{posicion.puntos}}</th>
          <th>{{posicion.tiempo}}</th>
        {% endif %}

        {% if disciplina.deporte.nombre in 'Recreativos'%}
          <th>{{posicion.puntos}}</th>
          <th>{{posicion.partidos_ganados}}</th>
          <th>{{posicion.partidos_perdidos}}</th>
          <th>{{posicion.puntos_dif}}</th>
          <th>{{posicion.puntos_favor}}</th>
          <th>{{posicion.puntos_contra}}</th>
        {% endif %}

      </tr>     
    {% endfor %}  
  </tbody>
</table>



