<!DOCTYPE html>
{% load thumbnail %}

<!-- Tabla de POSICIONES --> 
<table style="width:100%">
  <thead>
    <tr class="info">
      <th>Pos</th>
      <th>Foto</th>

      {% if disciplina.tipo in 'Grupal'%}
        <th>Equipo</th>
      {% endif %}          
      {% if disciplina.tipo in 'Individual'%}
        <th>Participante</th>
      {% endif %} 

      {%if disciplina.modalidad not in 'PosicionManual'%}
        {% if disciplina.deporte.nombre in 'Fútbol'%}
          <th>GDIF</th>
          <th>GF</th>
          <th>GC</th>
          <th>Rojas</th>
          <th>Amarillas</th>
        {% endif %} 

        {% if disciplina.deporte.nombre in 'Hockey'%}
          <th>GDIF</th>
          <th>GF</th>
          <th>GC</th>
          <th>Rojas</th>
          <th>Amarillas</th>
          <th>Verdes</th>
        {% endif %} 

        {% if disciplina.deporte.nombre in 'Handball'%}
          <th>GDIF</th>
          <th>GF</th>
          <th>GC</th>
          <th>Rojas</th>
          <th>Amarillas</th>
          <th>Azules</th>
        {% endif %} 

        {% if disciplina.deporte.nombre in 'Basquet'%}
          <th>Dif. Puntos</th>
          <th>Puntos Favor</th>
          <th>Puntos Contra</th>
        {% endif %}
        {% if disciplina.deporte.nombre in 'Bochas'%}
          <th>Dif. Puntos</th>
          <th>Puntos Favor</th>
          <th>Puntos Contra</th>
        {% endif %}


        {% if disciplina.deporte.nombre == 'Tenis'%}
          <th>SDIF</th>
          <th>SF</th>
          <th>SC</th>
          <th>GDIF</th>
          <th>GF</th>
          <th>GC</th>
        {% endif %}
        {% if disciplina.deporte.nombre in 'Pádel'%}
          <th>SDIF</th>
          <th>SF</th>
          <th>SC</th>
          <th>GDIF</th>
          <th>GF</th>
          <th>GC</th>
        {% endif %}


        {% if disciplina.deporte.nombre == 'Tenis de Mesa'%}
          <th>SDIF</th>
          <th>SF</th>
          <th>SC</th>
          <th>PDIF</th>
          <th>PF</th>
          <th>PC</th>
        {% endif %}

        {% if disciplina.deporte.nombre in 'Voley'%}
           <th>SDIF</th>
          <th>SF</th>
          <th>SC</th>
          <th>PDIF</th>
          <th>PF</th>
          <th>PC</th>
          <th>Rojas</th>
          <th>Amarillas</th>
        {% endif %}

        {% if disciplina.deporte.nombre in 'Pesca'%}
          <th>Peso[g]</th>
          <th>Cantidad</th>
        {% endif %}

        {% if disciplina.deporte.nombre in 'Natación'%}
          <th>Tiempo[s]</th>
        {% endif %}
        {% if disciplina.deporte.nombre in 'Aguas Abiertas'%}
          <th>Tiempo[s]</th>
        {% endif %}
        {% if disciplina.deporte.nombre in 'Ciclismo'%}
          <th>Tiempo[s]</th>
        {% endif %}
        {% if disciplina.deporte.nombre in 'Vela'%}
          <th>Tiempo[s]</th>
        {% endif %}
        {% if disciplina.deporte.nombre in 'Caminata/Carrera' %}
          <th>Tiempo[s]</th>
        {% endif %}

        {% if disciplina.deporte.nombre in 'Atletismo' and disciplina.nombre == 'Salto en Largo'%}
          <th>Distancia[m]</th>
        {% endif %}
        {% if disciplina.deporte.nombre in 'Atletismo' and disciplina.nombre != 'Salto en Largo'%}
          <th>Tiempo[s]</th>
        {% endif %}

        {% if disciplina.deporte.nombre in 'Recreativos'%}
          <th>Dif. Puntos</th>
          <th>Puntos Favor</th>
          <th>Puntos Contra</th>
        {% endif %}

      {%endif%}

    </tr>     
  </thead>
  
  <tbody>
    {% for posicion in posiciones|dictsort:"posicion" %}      
      <tr class="info">
        
        <th>{{posicion.posicion}}</th>

        {% if disciplina.tipo in 'Grupal'%}
          <th> 
            {% thumbnail posicion.equipo.foto_equipo "60x40" crop="top" as im %}
              <img src="{{ im.url }}">
            {% endthumbnail %}
          </th>
        {% endif %}          
        {% if disciplina.tipo in 'Individual'%}
          <th> 
            {% thumbnail posicion.participante.foto "40x60" crop="top" as im %}
              <img src="{{ im.url }}">
            {% endthumbnail %}
          </th>
        {% endif %} 
        
        {%if not disciplina.finalizada %}
          {% if disciplina.tipo in 'Grupal'%}
            <th><a href="{% url 'vista_equipo' id_olimpiada=olimpiada.pk id_equipo=posicion.equipo.pk %}"> {{posicion.equipo.nombre|title}}</a></th>
          {% endif %}          
          {% if disciplina.tipo in 'Individual'%}
            <th> <a href="{% url 'vista_jugador' id_olimpiada=olimpiada.pk id_jugador=posicion.participante.pk %}">  
              {{posicion.participante.apellido|title}}, {{posicion.participante.nombre|title}} ({{posicion.participante.delegacion.nombre}}) </a> 
            </th>                  
          {% endif %} 
        {% endif %} 
        
        {%if disciplina.finalizada %}
          <script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>
          
          {% if posicion.posicion == 1%}
            {% if disciplina.tipo in 'Grupal'%}
              <th><a href="{% url 'vista_equipo' id_olimpiada=olimpiada.pk id_equipo=posicion.equipo.pk %}"> {{posicion.equipo.nombre|title}}
              <span><ion-icon name="trophy"></ion-icon></span>
              </a></th>
            {% endif %}          
            {% if disciplina.tipo in 'Individual'%}
              <th> <a href="{% url 'vista_jugador' id_olimpiada=olimpiada.pk id_jugador=posicion.participante.pk %}">  
                {{posicion.participante.apellido|title}}, {{posicion.participante.nombre|title}} ({{posicion.participante.delegacion.nombre}}) </a> 
                <span><ion-icon name="trophy"></ion-icon></span>
              </th>                  
            {% endif %} 
          {% endif %}
          {% if posicion.posicion == 2%}
            {% if disciplina.tipo in 'Grupal'%}
              <th><a href="{% url 'vista_equipo' id_olimpiada=olimpiada.pk id_equipo=posicion.equipo.pk %}"> {{posicion.equipo.nombre|title}}
              <span><ion-icon name="medal"></ion-icon></span>
              </a></th>
            {% endif %}          
            {% if disciplina.tipo in 'Individual'%}
              <th> <a href="{% url 'vista_jugador' id_olimpiada=olimpiada.pk id_jugador=posicion.participante.pk %}">  
                {{posicion.participante.apellido|title}}, {{posicion.participante.nombre|title}} ({{posicion.participante.delegacion.nombre}}) </a> 
                <span><ion-icon name="medal"></ion-icon></span>
              </th>                  
            {% endif %} 
          {% endif %} 
          {% if posicion.posicion == 3%}
            {% if disciplina.tipo in 'Grupal'%}
              <th><a href="{% url 'vista_equipo' id_olimpiada=olimpiada.pk id_equipo=posicion.equipo.pk %}"> {{posicion.equipo.nombre|title}}
              <span><ion-icon name="ribbon"></ion-icon></span>
              </a></th>
            {% endif %}          
            {% if disciplina.tipo in 'Individual'%}
              <th> <a href="{% url 'vista_jugador' id_olimpiada=olimpiada.pk id_jugador=posicion.participante.pk %}">  
                {{posicion.participante.apellido|title}}, {{posicion.participante.nombre|title}} ({{posicion.participante.delegacion.nombre}}) </a> 
                <span><ion-icon name="ribbon"></ion-icon></span>
              </th>                  
            {% endif %} 
          {% endif %}
          
          {% if posicion.posicion > 3 %}
            {% if disciplina.tipo in 'Grupal'%}
              <th><a href="{% url 'vista_equipo' id_olimpiada=olimpiada.pk id_equipo=posicion.equipo.pk %}"> {{posicion.equipo.nombre|title}}</a></th>
            {% endif %}          
            {% if disciplina.tipo in 'Individual'%}
              <th> <a href="{% url 'vista_jugador' id_olimpiada=olimpiada.pk id_jugador=posicion.participante.pk %}">  
                {{posicion.participante.apellido|title}}, {{posicion.participante.nombre|title}} ({{posicion.participante.delegacion.nombre}}) </a> 
              </th>                  
            {% endif %}         
          {% endif %}
        {% endif %} 
        

        {%if disciplina.modalidad not in 'PosicionManual'%}
          {% if disciplina.deporte.nombre in 'Fútbol'%}
            <th>{{posicion.goles_dif}}</th>
            <th>{{posicion.goles_favor}}</th>
            <th>{{posicion.goles_contra}}</th>
            <th>{{posicion.rojas}}</th>
            <th>{{posicion.amarillas}}</th>
          {% endif %} 

          {% if disciplina.deporte.nombre in 'Hockey'%}
            <th>{{posicion.goles_dif}}</th>
            <th>{{posicion.goles_favor}}</th>
            <th>{{posicion.goles_contra}}</th>
            <th>{{posicion.rojas}}</th>
            <th>{{posicion.amarillas}}</th>
            <th>{{posicion.verdes}}</th>
          {% endif %} 

          {% if disciplina.deporte.nombre in 'Handball'%}
            <th>{{posicion.goles_dif}}</th>
            <th>{{posicion.goles_favor}}</th>
            <th>{{posicion.goles_contra}}</th>
            <th>{{posicion.rojas}}</th>
            <th>{{posicion.amarillas}}</th>
            <th>{{posicion.azules}}</th>
          {% endif %} 

          {% if disciplina.deporte.nombre in 'Basquet'%}
            <th>{{posicion.puntos_dif}}</th>
            <th>{{posicion.puntos_favor}}</th>
            <th>{{posicion.puntos_contra}}</th>
          {% endif %}
          {% if disciplina.deporte.nombre in 'Bochas'%}
            <th>{{posicion.puntos_dif}}</th>
            <th>{{posicion.puntos_favor}}</th>
            <th>{{posicion.puntos_contra}}</th>
          {% endif %}

          {% if disciplina.deporte.nombre == 'Tenis'%}
            <th>{{posicion.sets_dif}}</th>
            <th>{{posicion.sets_favor}}</th>
            <th>{{posicion.sets_contra}}</th>
            <th>{{posicion.games_dif}}</th>
            <th>{{posicion.games_favor}}</th>
            <th>{{posicion.games_contra}}</th>                 
          {% endif %}
          {% if disciplina.deporte.nombre in 'Pádel'%}
            <th>{{posicion.sets_dif}}</th>
            <th>{{posicion.sets_favor}}</th>
            <th>{{posicion.sets_contra}}</th>
            <th>{{posicion.games_dif}}</th>
            <th>{{posicion.games_favor}}</th>
            <th>{{posicion.games_contra}}</th>                 
          {% endif %}

          {% if disciplina.deporte.nombre == 'Tenis de Mesa'%}
            <th>{{posicion.sets_dif}}</th>
            <th>{{posicion.sets_favor}}</th>
            <th>{{posicion.sets_contra}}</th>
            <th>{{posicion.puntos_dif}}</th>
            <th>{{posicion.puntos_favor}}</th>
            <th>{{posicion.puntos_contra}}</th>
          {% endif %}

          {% if disciplina.deporte.nombre in 'Voley'%}
            <th>{{posicion.sets_dif}}</th>
            <th>{{posicion.sets_favor}}</th>
            <th>{{posicion.sets_contra}}</th>
            <th>{{posicion.puntos_dif}}</th>
            <th>{{posicion.puntos_favor}}</th>
            <th>{{posicion.puntos_contra}}</th>
            <th>{{posicion.rojas}}</th>
            <th>{{posicion.amarillas}}</th>
          {% endif %}

          {% if disciplina.deporte.nombre in 'Pesca'%}
            <th>{{posicion.peso}}</th>
            <th>{{posicion.cantidad}}</th>
          {% endif %}

          {% if disciplina.deporte.nombre in 'Natación'%}
            <th>{{posicion.tiempo}}</th>
          {% endif %}
          {% if disciplina.deporte.nombre in 'Aguas Abiertas'%}
            <th>{{posicion.tiempo}}</th>
          {% endif %}
          {% if disciplina.deporte.nombre in 'Ciclismo'%}
            <th>{{posicion.tiempo}}</th>
          {% endif %}
          {% if disciplina.deporte.nombre in 'Vela'%}
            <th>{{posicion.tiempo}}</th>
          {% endif %}
          {% if disciplina.deporte.nombre in 'Caminata/Carrera' %}
            <th>{{posicion.tiempo}}</th>
          {% endif %}

          {% if disciplina.deporte.nombre in 'Atletismo' and disciplina.nombre == 'Salto en Largo'%}
            <th>{{posicion.distancia}}</th>
          {% endif %}
          {% if disciplina.deporte.nombre in 'Atletismo' and disciplina.nombre != 'Salto en Largo'%}
            <th>{{posicion.tiempo}}</th>
          {% endif %}

          {% if disciplina.deporte.nombre in 'Recreativos'%}
            <th>{{posicion.puntos_dif}}</th>
            <th>{{posicion.puntos_favor}}</th>
            <th>{{posicion.puntos_contra}}</th>
          {% endif %}


        {%endif%}
      </tr>     
    {% endfor %}  
  </tbody>
</table>



