<!DOCTYPE html>
{% extends 'torneo/base.html' %}

{% load menu %}
{% load thumbnail %}  
{% load staticfiles %}
from django.core import urlresolvers

{% load widget_tweaks %}
{% block content %}
<link href="{% static 'layout/styles/form.css' %}" rel="stylesheet" type="text/css" media="all">

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

    

<div class="wrapper row3">
  <div id="container">
    <div class="clear">
      
      <!---------------------------------------------------------------------------------------------------------------->
      <!-- Encabezado General Página Disciplina -->
      <!---------------------------------------------------------------------------------------------------------------->
      <h1>{{disciplina}}
      {% if disciplina.finalizada%}
        <span class="glyphicon glyphicon-flag" style="color:green;font-size: 35px;"></span>
      {% endif %}
      </h1>

      <div class="one_half first">  
        <h2> Datos Disciplina</h2>
        {% if disciplina.responsables.count%}
          <li><b>Responsable/s Disciplina:</b></li>
          <ol>
            {% for participante in disciplina.responsables.all%}
              <li> <a href="{% url 'vista_jugador' id_olimpiada=olimpiada.pk id_jugador=participante.pk %}">  {{participante.apellido|title}}, {{participante.nombre|title}} </a> </li>
           {% endfor %}
         </ol>
        {% endif %}

        <li><b>Tipo:</b> {{disciplina.tipo}}</li>
        <li><b>Modalidad del Torneo:</b> {{disciplina.modalidad}}</li>

        {% if disciplina.tipo in 'Grupal'%}
          <li><b>Equipos:</b></li>
          <ol>
            {% for equipo in disciplina.equipos.all%}
              <li> <a href="{% url 'vista_equipo' id_olimpiada=olimpiada.pk id_equipo=equipo.pk %}"> {{equipo.nombre|title}} </a> </li>
           {% endfor %}
         </ol>
        {% endif %}
        
        {% if disciplina.tipo in 'Individual'%}
          <li><b>Competidores:</b></li>
          <ol>
            {% for participante in disciplina.participantes.all%}
              <li> <a href="{% url 'vista_jugador' id_olimpiada=olimpiada.pk id_jugador=participante.pk %}">  {{participante.apellido|title}}, {{participante.nombre|title}} ({{participante.delegacion.nombre}}) </a> </li>
            {% endfor %}
          </ol>
        {% endif %}
      
      </div>

      <div class="one_half">         
        <figure class="post-image">
          <img src="{{disciplina.deporte.icono_deporte.url}}" alt="" style="max-height:250px; max-width:400px; overflow: hidden">
        </figure>         
      </div>









      <!---------------------------------------------------------------------------------------------------------------->
      <!-- Casos CompetenciaUnica y Playoff -->
      <!---------------------------------------------------------------------------------------------------------------->
      {%if disciplina.modalidad == 'Playoff_' or disciplina.modalidad in 'CompetenciaUnica' or disciplina.modalidad == 'PosicionManual'%}
        <div class="one_half first">
          {% if disciplina.fixture_creado %}
            <h2> Agenda Deportiva </h2>
          {%endif%}

          <div>
            {% for competencia in disciplina.competencias.all %}
              {% include "torneo/disciplina_detallescompetencias.html" %}
            {% endfor %}
          </div>
        </div>

        <!-- Tabla de Posiciones -->
        <div class="one_half">  
          {%if disciplina.competencia_unica.count or disciplina.playoff.count or disciplina.posicion_manual.count%} 
            <h2 style="margin-top: 0px">Tabla de Posiciones: </h2>       
            {%with posiciones=disciplina.posiciones.all%}
              {% include "torneo/disciplina_tablaposiciones_playoff.html" %}
            {%endwith%}
          {% endif %}
        </div>
      {%endif%}


      <!---------------------------------------------------------------------------------------------------------------->
      <!-- Caso Grupo_mas_Playoff -------------------------------------------------------------------------------------->
      <!---------------------------------------------------------------------------------------------------------------->
      {% if disciplina.modalidad == 'Grupos_mas_Playoff' %}
        <div class="one_half first">

          {%if disciplina.grupos_mas_playoff.count %}
            <h2> Fase de Grupos </h2>  

            {%if disciplina.grupos_mas_playoff.first.fase_grupos_iniciada%}

              <!-- Competencias y Resultados por Grupo ------------------------------------------------------->
              {% for grupo,integrantes_grupo in grupos %}
                {%if integrantes_grupo.count %}
                  <div style="background-color:rgb(221, 234, 255); padding: 15px; margin-top:15px;">                
                    <p style="font-size:19px;color:black; text-decoration:underline; "> <b>{{grupo|title}}</b> </p>
                    <p style="font-size:16px;color:black; text-decoration:underline; "> <b>Integrantes:</b> </p>                  
                    <ul>
                      {% for integrante in integrantes_grupo %}
                        <li>
                          <p style="font-size:15px;color:black;padding: 0px;margin: 0px">  
                            {%if disciplina.tipo in 'Grupal'%}
                              {{integrante.nombre|title}}
                            {%endif%}
                            {%if disciplina.tipo in 'Individual'%}
                              {{integrante.apellido|title}}, {{integrante.nombre|title}} ({{integrante.delegacion.nombre}}) 
                            {%endif%}

                          </p>
                        </li>
                      {% endfor %}
                    </ul>
                    
                    <div class="accordion-wrapper">
                      <a href="javascript:void(0)" class="accordion-title orange">
                        <span> Competencias </span>
                        <div class="accordion-content">
                          {% for competencia in disciplina.competencias.all|in_group:grupo %}
                            {% include "torneo/disciplina_detallescompetencias.html" %}
                          {% endfor %}
                        </div>
                      </a>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}  

            {% endif %}

          {% endif %}  
        </div>
        

        <div class="one_half">
          <!-- Tabla de Posiciones Grupos-->
          {%if disciplina.grupos_mas_playoff.first.fase_grupos_iniciada%}   
            {% for grupo,integrantes_grupo in grupos %}
              {%if integrantes_grupo.count %}
                <div>
                   <p style="font-size: 25px; margin-top: 0px">Tabla de Posiciones {{grupo|title}} </p>       
                  {%with posiciones=disciplina.posiciones.all|in_group:grupo %}
                    {% include "torneo/disciplina_tablaposiciones_grupo.html" %}
                  {%endwith%}
                </div>
              {%endif%}
            {% endfor %} 
          {%endif%}
        </div>


        <div class="one_half first">
          {% if disciplina.grupos_mas_playoff.first.playoff_iniciado %}
            <h2> Fase Eliminatoria </h2>

            <div style="background-color:rgb(221, 234, 255); padding: 15px; margin-top:15px;"> 
              <p style="font-size:19px;color:black; text-decoration:underline; "> <b>Playoff</b> </p>
              <div class="accordion-wrapper">
                <a href="javascript:void(0)" class="accordion-title orange">
                  <span> Competencias </span>
                  <div class="accordion-content">
                    {% with "Eliminatoria" as zona %}
                      {% for competencia in disciplina.competencias.all|in_zone:zona %}
                        {% include "torneo/disciplina_detallescompetencias.html" %}
                      {% endfor %}
                    {%endwith%}
                  </div>
                </a>
              </div>

            </div>
          {% endif %}  
        </div>

        <div class="one_half">
          <!-- Tabla de Posiciones Fixture-->
          {%if disciplina.grupos_mas_playoff.first.playoff_iniciado%}              
            <div>
               <p style="font-size: 25px; margin-top: 0px">Tabla de Posiciones Playoff </p>       
              {% with "Eliminatoria" as zona %}
                {%with posiciones=disciplina.posiciones.all|in_zone:zona %}
                  {% include "torneo/disciplina_tablaposiciones_playoff.html" %}
                {%endwith%}
              {%endwith%}
            </div>
          {%endif%}
        </div>

      {%endif%}


      <!---------------------------------------------------------------------------------------------------------------->
      <!-- Caso Rondas de Clasificacion -------------------------------------------------------------------------------->
      <!---------------------------------------------------------------------------------------------------------------->
      {% if disciplina.modalidad == 'RondasClasificacion' %}
        <div class="one_half first">
          <!-- Clasificación -->
          {%if disciplina.rondas_clasificacion.count %}
            <h2> Rondas de Clasificación </h2>             

            {%if disciplina.rondas_clasificacion.first.fase_clasificacion_iniciada%}
              <!-- Competencias y Resultados por Grupo ------------------------------------------------------->
              {% for grupo,integrantes_grupo in grupos %}
                {%if integrantes_grupo.count %}
                  <div style="background-color:rgb(221, 234, 255); padding: 15px; margin-top:15px;">                
                    <p style="font-size:19px;color:black; text-decoration:underline; "> <b>{{grupo|title}}</b> </p>
                    <p style="font-size:16px;color:black; text-decoration:underline; "> <b>Integrantes:</b> </p>                  
                    <ul>
                      {% for integrante in integrantes_grupo %}
                        <li>
                          <p style="font-size:15px;color:black;padding: 0px;margin: 0px">  
                            {%if disciplina.tipo in 'Grupal'%}
                              {{integrante.nombre|title}}
                            {%endif%}
                            {%if disciplina.tipo in 'Individual'%}
                              {{integrante.apellido|title}}, {{integrante.nombre|title}} ({{integrante.delegacion.nombre}}) 
                            {%endif%}

                          </p>
                        </li>
                      {% endfor %}
                    </ul>
                    
                    <div class="accordion-wrapper">
                      <a href="javascript:void(0)" class="accordion-title orange">
                        <span> Competencias </span>
                        <div class="accordion-content">
                          {% for competencia in disciplina.competencias.all|in_group:grupo %}
                            {% include "torneo/disciplina_detallescompetencias.html" %}
                          {% endfor %}
                        </div>
                      </a>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}  
            {% endif %}          

          {% endif %}  
        </div>
        

        <div class="one_half">
          <!-- Tabla de Posiciones Grupos-->
          {%if disciplina.rondas_clasificacion.first.fase_clasificacion_iniciada%}   
            {% for grupo,integrantes_grupo in grupos %}
              {%if integrantes_grupo.count %}
                <div>
                  <p style="font-size: 25px; margin-top: 0px">Ronda de Clasificación {{grupo|title}} </p>       
                  {%with posiciones=disciplina.posiciones.all|in_group:grupo %}
                    {% include "torneo/disciplina_tablaposiciones_grupo.html" %}
                  {%endwith%}
                </div>
              {%endif%}
            {% endfor %} 
          {%endif%}
        </div>

        <!-- Semifinales -->
        <div class="one_half first">

          <!-- Competencias y Resultados por Grupo Semis ------------------------------------------------------>
          {% if disciplina.rondas_clasificacion.first.fase_semifinal_iniciada %}
            {% for grupo,integrantes_grupo in grupos_semis %}
              {%if integrantes_grupo.count %}
                <div style="background-color:rgb(221, 234, 255); padding: 15px; margin-top:15px;">                
                  <p style="font-size:19px;color:black; text-decoration:underline; "> <b>{{grupo|title}}</b> </p>
                  <p style="font-size:16px;color:black; text-decoration:underline; "> <b>Integrantes:</b> </p>                  
                  <ul>
                    {% for integrante in integrantes_grupo %}
                      <li>
                        <p style="font-size:15px;color:black;padding: 0px;margin: 0px">  
                          {%if disciplina.tipo in 'Grupal'%}
                            {{integrante.nombre|title}}
                          {%endif%}
                          {%if disciplina.tipo in 'Individual'%}
                            {{integrante.apellido|title}}, {{integrante.nombre|title}} ({{integrante.delegacion.nombre}}) 
                          {%endif%}

                        </p>
                      </li>
                    {% endfor %}
                  </ul>
                  
                  <div class="accordion-wrapper">
                    <a href="javascript:void(0)" class="accordion-title orange">
                      <span> Competencias </span>
                      <div class="accordion-content">
                        {% for competencia in disciplina.competencias.all|in_group:grupo %}
                          {% include "torneo/disciplina_detallescompetencias.html" %}
                        {% endfor %}
                      </div>
                    </a>
                  </div>
                </div>

              {% endif %}
            {% endfor %}  
          {% endif %}

        </div>


        <div class="one_half">
        <!-- Tabla de Posiciones Semifinales-->
        {% if disciplina.rondas_clasificacion.first.fase_semifinal_iniciada %}            
            {% for grupo,integrantes_grupo in grupos_semis %}
              {%if integrantes_grupo.count %}
                <div>
                  <p style="font-size: 25px; margin-top: 0px"> {{grupo|title}} </p>       
                  {%with posiciones=disciplina.posiciones.all|in_group:grupo %}
                    {% include "torneo/disciplina_tablaposiciones_grupo.html" %}
                  {%endwith%}
                </div>
              {%endif%}
            {% endfor %} 
          {%endif%}
        </div>


        <!-- Final -->
        <div class="one_half first">

          {% if disciplina.rondas_clasificacion.first.fase_final_iniciada %}
            <h2> Final </h2>

            <div style="background-color:rgb(221, 234, 255); padding: 15px; margin-top:15px;">
              <p style="font-size:19px;color:black; text-decoration:underline; "> <b>Final</b> </p>
              <div class="accordion-wrapper">
                <a href="javascript:void(0)" class="accordion-title orange">
                  <span> Competencias </span>
                  <div class="accordion-content">
                    {% with "Final" as zona %}
                      {% for competencia in disciplina.competencias.all|in_zone:zona %}
                        {% include "torneo/disciplina_detallescompetencias.html" %}
                      {% endfor %}
                    {%endwith%}
                  </div>
                </a>
              </div>

            </div>
          {% endif %}  
        </div>

        <div class="one_half">
          <!-- Tabla de Posiciones Fixture-->
          {%if disciplina.rondas_clasificacion.first.fase_final_iniciada%}              
            <div>
              <p style="font-size: 25px; margin-top: 0px">Final </p>       
              {% with "Final" as zona %}
                {%with posiciones=disciplina.posiciones.all|in_zone:zona %}
                  {% include "torneo/disciplina_tablaposiciones_playoff.html" %}
                {%endwith%}
              {%endwith%}
            </div>
          {%endif%}
        </div>

      {%endif%}



      <!---------------------------------------------------------------------------------------------------------------->
      <!-- Liga -------------------------------------------------------------------------------------------------------->
      <!---------------------------------------------------------------------------------------------------------------->
      {% if disciplina.modalidad == 'Liga' %}
        <div class="one_half first">

          {%if disciplina.grupos_mas_playoff.count %}
            <h2> Liga </h2>  

            <!-- Actualizar/Reiniciar Grupos -->
            {%if disciplina.grupos_mas_playoff.first.fase_grupos_iniciada%}

              <!-- Competencias y Resultados por Grupo ------------------------------------------------------->
              {% for grupo,integrantes_grupo in grupos %}
                {%if integrantes_grupo.count %}
                  <div style="background-color:rgb(221, 234, 255); padding: 15px; margin-top:15px;">                
                    <p style="font-size:19px;color:black; text-decoration:underline; "> <b>{{grupo|title}}</b> </p>
                    <p style="font-size:16px;color:black; text-decoration:underline; "> <b>Integrantes:</b> </p>                  
                    <ul>
                      {% for integrante in integrantes_grupo %}
                        <li>
                          <p style="font-size:15px;color:black;padding: 0px;margin: 0px">  
                            {%if disciplina.tipo in 'Grupal'%}
                              {{integrante.nombre|title}}
                            {%endif%}
                            {%if disciplina.tipo in 'Individual'%}
                              {{integrante.apellido|title}}, {{integrante.nombre|title}} ({{integrante.delegacion.nombre}}) 
                            {%endif%}

                          </p>
                        </li>
                      {% endfor %}
                    </ul>
                    
                    <div class="accordion-wrapper">
                      <a href="javascript:void(0)" class="accordion-title orange">
                        <span> Competencias </span>
                        <div class="accordion-content">
                          {% for competencia in disciplina.competencias.all|in_group:grupo %}
                            {% include "torneo/disciplina_detallescompetencias.html" %}
                          {% endfor %}
                        </div>
                      </a>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}  

            {% endif %}
          {% endif %}  
        </div>
        

        <div class="one_half">
          <!-- Tabla de Posiciones Grupos-->
          {%if disciplina.grupos_mas_playoff.first.fase_grupos_iniciada%}   
            {% for grupo,integrantes_grupo in grupos %}
              {%if integrantes_grupo.count %}
                <div>
                  <h2 style="margin-top: 0px">Tabla de Posiciones {{grupo}} </h2>       
                  {%with posiciones=disciplina.posiciones.all|in_group:grupo %}
                    {% include "torneo/disciplina_tablaposiciones_grupo.html" %}
                  {%endwith%}
                </div>
              {%endif%}
            {% endfor %} 
          {%endif%}
        </div>

      {%endif%}


    </div>
  </div>
 
  <div class="clear"></div>
</div>  


<div class="wrapper row2" style="background-color: white">
  <div id="latest2"> 
    {% if disciplina.fotos.all %}
      <div class="titlebox">
        <h2 class="font-x3 uppercase nospace">Galería de Fotos</h2>
        <p class="nospace2">Fotos tomadas durante el desarrollo del evento .</p>
      </div>
    {%endif%}
    <div class="nospace2 group">

      {% for foto in disciplina.fotos.all %}
        <figure>
          <a href="">
            {% thumbnail foto.imagen "250x250" crop="top" as im %}
              <img src="{{ im.url }}">
            {% endthumbnail %}

            <figcaption>
              {%if foto.titulo %}
                <p>{{foto.titulo}}</p>
              {%endif%}
              
              <p><a href="">Ampliar &raquo;</a></p>
            </figcaption>

          </a>
        </figure>
      {% endfor %}

    </div>
  </div>
</div>        
        
{% endblock %}




