<!DOCTYPE html>

{% load menu %}
{% load widget_tweaks %}

<div  style="background-color:rgb(196, 237, 196); padding: 2%">
  <br> 
  <p style="font-size:16px;color:black; text-decoration: underline;"> <b>Competencia {{competencia.nombre}}</b> </p>
  <p><b>Fecha:</b> {{competencia.fecha}}  </p>
  <p><b>Lugar:</b> {{competencia.cancha.nombre}} </p> 
      
  {% with formularios|get_dict_value:competencia.pk as formset%}
    <form method="post" action="{% url 'vista_cargarresultados' id_olimpiada=olimpiada.pk id_competencia=competencia.pk %}">
      
      {{ formset.management_form }}
      
      <table style="width:50%;font-size: 11px;padding: 1px;">
        {% include "torneo/disciplina_editarfixture_detallescompetencias_cabeceratabla.html" %}           

        <tbody>
          {% for form in formset|slice:":" %}
            {% csrf_token %}

            {{ form.non_field_errors }}

            {% for hidden_field in form.hidden_fields %}
              {{ hidden_field.errors }}
              {{ hidden_field }}
            {% endfor %}

            <tr>
              {% for field in form.visible_fields %}  
                {% if competencia.disciplina.tipo in 'Grupal'%}                 
<!--                   {%if 'Equipo' in field.label_tag %}
                    <th>{{ ''|get_equipo_name_from_pk:field.value|title }}</th> 
                  {%endif%}  -->

                  {%if 'Participante' not in field.label_tag%}
                    <th>{{ field }}</th> 
                  {%endif%} 
                
                {%endif%} 

                {% if competencia.disciplina.tipo in 'Individual'%}
                  <!-- {%if 'Participante' in field.label_tag %}
                    <th>{{ ''|get_participante_fullname_from_pk:field.value|title }}</th> 
                  {%endif%}  -->  
                  {%if 'Equipo' not in field.label_tag %}
                    <th>{{ field }}</th> 
                  {%endif%}   
                {%endif%}  
              {% endfor %}
            </tr>
              
          {% endfor %}
        </tbody>
      </table>
      
      <input type="submit" value="Guardar" /> 
      <br>
      <br>
    </form>
  {%endwith%} 
  
  
  <!-- Botonoes para gestión de competencias -->
  <a class="btn btn-default" href="{% url 'vista_competencia' id_olimpiada=olimpiada.pk id_competencia=competencia.pk %}"><span class="glyphicon glyphicon-eye-open"></span> Ver Competencia </a>
  
  <a class="btn btn-default" href="{% url 'admin:torneo_competencia_change' competencia.pk %}"><span class="glyphicon glyphicon-edit"></span> Editar Competencia</a>
  
  <a class="btn btn-default" href="{% url 'vista_competencia_notificarcambios' id_olimpiada=olimpiada.pk id_competencia=competencia.pk %}"><span class="glyphicon glyphicon-bullhorn"></span> Notificar Cambios</a>

  <a class="btn btn-default" href="{% url 'vista_competencia_listabuenafe' id_olimpiada=olimpiada.pk id_competencia=competencia.pk %}"><span class="glyphicon glyphicon-th-list"></span> Lista de Buena Fé </a>
  
  <p>  &nbsp  </p>
</div>

<br>
<br>