<!DOCTYPE html>

<div  style="background-color:rgb(196, 237, 196)  ;">
  <ul>
    <!-- Datos Generales Competencias -->                   
    <br> 
    <p style="font-size:16px;color:black; text-decoration: underline;"> <b>Competencia {{competencia.nombre}}</b> </p>
    <li> Fecha: {{competencia.fecha}}  </li>
    <li> Lugar: {{competencia.cancha.nombre}}  </li>
       
    <!-- Resultados por Deporte -->  
    <li> Resultados:
    <table style="width:50%">
      <thead>
        <tr class="info">
          {% if competencia.disciplina.tipo in 'Grupal'%}
            <th>Equipos</th>
          {% endif %} 
          {% if competencia.disciplina.tipo in 'Individual'%}
            <th>Participantes</th>
          {% endif %} 

          {%if disciplina.modalidad not in 'PosicionManual'%}
            {% if competencia.disciplina.deporte.nombre in 'Fútbol' %}
              <th>Goles</th>
              <th>Def. por Penales</th>
              <th>Rojas</th>
              <th>Amarillas</th>
            {% endif %} 
            {% if competencia.disciplina.deporte.nombre in 'Hockey' %}
              <th>Goles</th>
              <th>Def. por Penales</th>
              <th>Rojas</th>
              <th>Amarillas</th>
              <th>Verdes</th>
            {% endif %} 
            {% if competencia.disciplina.deporte.nombre in 'Handball' %}
              <th>Goles</th>
              <th>Def. por Penales</th>
              <th>Rojas</th>
              <th>Amarillas</th>
              <th>Azules</th>
            {% endif %} 


            {% if competencia.disciplina.deporte.nombre in 'Basquet' %}
              <th>Puntos</th>
            {% endif %} 
            {% if competencia.disciplina.deporte.nombre in 'Bochas' %}
              <th>Puntos</th>  
            {% endif %} 

            {% if competencia.disciplina.deporte.nombre == 'Tenis' %}
              <th>1°Set</th>
              <th>2°Set</th>
              <th>3°Set</th>
            {% endif %} 
            {% if competencia.disciplina.deporte.nombre in 'Pádel' %}
              <th>1°Set</th>
              <th>2°Set</th>
              <th>3°Set</th>
            {% endif %} 


            {% if competencia.disciplina.deporte.nombre == 'Tenis de Mesa' %}
              <th>1°Set</th>
              <th>2°Set</th>
              <th>3°Set</th>
            {% endif %} 
            {% if competencia.disciplina.deporte.nombre in 'Voley' %}
              <th>1°Set</th>
              <th>2°Set</th>
              <th>3°Set</th>
              <th>Rojas</th>
              <th>Amarillas</th>
            {% endif %} 
            

            {% if competencia.disciplina.deporte.nombre in 'Pesca' %}
              <th>Cantidad</th>
              <th>Peso</th>
            {% endif %} 

            {% if competencia.disciplina.deporte.nombre in 'Natación' %}
              <th>Tiempo</th>
            {% endif %}
            {% if competencia.disciplina.deporte.nombre in 'Aguas Abiertas' %}
              <th>Tiempo</th>
            {% endif %} 
            {% if competencia.disciplina.deporte.nombre in 'Ciclismo' %}
              <th>Tiempo</th>
            {% endif %} 
            {% if competencia.disciplina.deporte.nombre in 'Vela' %}
              <th>Tiempo</th>
            {% endif %} 
            {% if competencia.disciplina.deporte.nombre in 'Caminata/Carrera' %}
              <th>Tiempo</th>
            {% endif %} 

            {% if competencia.disciplina.deporte.nombre in 'Atletismo' %}
              <th>Tiempo</th>
              <th>Distancia</th>
            {% endif %} 

            {% if competencia.disciplina.deporte.nombre in 'Recreativos' %}
              <th>Puntos</th>
            {% endif %} 
          {% endif %} 

        </tr>     
      </thead>
      
      <tbody>
        {% for resultado in competencia.resultados.all %}
          <tr class="info">                        
            {% if competencia.disciplina.tipo in 'Grupal'%}
              <th>{{resultado.equipo.nombre|title}}</th>
            {% endif %} 
            {% if competencia.disciplina.tipo in 'Individual'%}
              <th>{{resultado.participante.apellido|title}}, {{resultado.participante.nombre|title}}</th>
            {% endif %} 
             

            {%if disciplina.modalidad not in 'PosicionManual'%}
              {% if competencia.disciplina.deporte.nombre in 'Fútbol' %}
                <th>{{resultado.goles_favor}}</th>
                <th>{{resultado.penales}}</th>
                <th>{{resultado.rojas}}</th>
                <th>{{resultado.amarillas}}</th>
              {% endif %}  
              {% if competencia.disciplina.deporte.nombre in 'Hockey' %}
                <th>{{resultado.goles_favor}}</th>
                <th>{{resultado.penales}}</th>
                <th>{{resultado.rojas}}</th>
                <th>{{resultado.amarillas}}</th>
                <th>{{resultado.verdes}}</th>
              {% endif %}  
              {% if competencia.disciplina.deporte.nombre in 'Handball' %}
                <th>{{resultado.goles_favor}}</th>
                <th>{{resultado.penales}}</th>
                <th>{{resultado.rojas}}</th>
                <th>{{resultado.amarillas}}</th>
                <th>{{resultado.azules}}</th>
              {% endif %}

              {% if competencia.disciplina.deporte.nombre in 'Basquet' %}
                <th>{{resultado.puntos_favor}}</th>
              {% endif %}
              {% if competencia.disciplina.deporte.nombre in 'Bochas' %}
                <th>{{resultado.puntos_favor}}</th>
              {% endif %}

              {% if competencia.disciplina.deporte.nombre == 'Tenis' %}
                <th>{{resultado.games_favor_1set}}</th>
                <th>{{resultado.games_favor_2set}}</th>
                <th>{{resultado.games_favor_3set}}</th>
              {% endif %} 
              {% if competencia.disciplina.deporte.nombre in 'Pádel' %}
                <th>{{resultado.games_favor_1set}}</th>
                <th>{{resultado.games_favor_2set}}</th>
                <th>{{resultado.games_favor_3set}}</th>
              {% endif %} 


              {% if competencia.disciplina.deporte.nombre == 'Tenis de Mesa' %}
                <th>{{resultado.puntos_favor_1set}}</th>
                <th>{{resultado.puntos_favor_2set}}</th>
                <th>{{resultado.puntos_favor_3set}}</th>
              {% endif %} 
              {% if competencia.disciplina.deporte.nombre in 'Voley' %}
                <th>{{resultado.puntos_favor_1set}}</th>
                <th>{{resultado.puntos_favor_2set}}</th>
                <th>{{resultado.puntos_favor_3set}}</th>
                <th>{{resultado.rojas}}</th>
                <th>{{resultado.amarillas}}</th>
              {% endif %} 
              

              {% if competencia.disciplina.deporte.nombre in 'Pesca' %}
                <th>{{resultado.cantidad}}</th>
                <th>{{resultado.peso}}</th>
              {% endif %} 

              {% if competencia.disciplina.deporte.nombre in 'Natación' %}
                <th>{{resultado.tiempo}}</th>
              {% endif %}
              {% if competencia.disciplina.deporte.nombre in 'Aguas Abiertas' %}
                <th>{{resultado.tiempo}}</th>
              {% endif %} 
              {% if competencia.disciplina.deporte.nombre in 'Ciclismo' %}
                <th>{{resultado.tiempo}}</th>
              {% endif %} 
              {% if competencia.disciplina.deporte.nombre in 'Vela' %}
                <th>{{resultado.tiempo}}</th>
              {% endif %} 
              {% if competencia.disciplina.deporte.nombre in 'Caminata/Carrera' %}
                <th>{{resultado.tiempo}}</th>
              {% endif %} 

              {% if competencia.disciplina.deporte.nombre in 'Atletismo' %}
                <th>{{resultado.tiempo}}</th>
                <th>{{resultado.distancia}}</th>
              {% endif %} 

              {% if competencia.disciplina.deporte.nombre in 'Recreativos' %}
                <th>{{resultado.puntos_favor}}</th>
              {% endif %}

            {% endif %} 
          </tr>     
        {% endfor %}  
      </tbody>
    </table>
      

    <!-- Botonoes para gestión de competencias -->
    <a class="btn btn-default" href="{% url 'vista_competencia' id_olimpiada=olimpiada.pk id_competencia=competencia.pk %}"><span class="glyphicon glyphicon-eye-open"></span> Ver Competencia </a>


    <a class="btn btn-default" href="{% url 'vista_competencia_listabuenafe' id_olimpiada=olimpiada.pk id_competencia=competencia.pk %}"><span class="glyphicon glyphicon-th-list"></span> Lista de Buena Fé </a>
    
    <p>  &nbsp  </p>
  </ul>
</div>

<li> &nbsp </li>
<li> &nbsp </li>