<!DOCTYPE html>

<!-- <style>
th {
    padding: 5px;
    max-width: 100px;
}
</style> -->


<thead>
  <tr>
    {% if disciplina.tipo in 'Grupal'%}
      <th>Equipo</th>
    {% endif %}          
    {% if disciplina.tipo in 'Individual'%}
      <th>Participante</th>
    {% endif %} 

    {%if disciplina.modalidad not in 'PosicionManual'%}
      {% if disciplina.deporte.nombre in 'Fútbol'%}
        <th>Goles</th>
        <th>Penales</th>
        <th>Amarillas</th>
        <th>Rojas</th>
      {% endif %} 

      {% if disciplina.deporte.nombre in 'Hockey'%}
        <th>Goles</th>
        <th>Penales</th>
        <th>Amarillas</th>
        <th>Rojas</th>
        <th>Verdes</th>
      {% endif %} 

      {% if disciplina.deporte.nombre in 'Handball'%}
        <th>Goles</th>
        <th>Penales</th>
        <th>Amarillas</th>
        <th>Rojas</th>
        <th>Azules</th>
      {% endif %} 

      {% if disciplina.deporte.nombre in 'Basquet' or disciplina.deporte.nombre in 'Bochas'%}
        <th>Puntos Favor</th>
      {% endif %}

      {% if disciplina.deporte.nombre == 'Tenis' or disciplina.deporte.nombre in 'Pádel'%}
        <th>Games 1°Set</th>
        <th>Games 2°Set</th>
        <th>Games 3°Set</th>
      {% endif %}
      
      {% if disciplina.deporte.nombre == 'Tenis de Mesa'%}
        <th>Games 1°Set</th>
        <th>Games 2°Set</th>
        <th>Games 3°Set</th>
        <th>Amarillas</th>
        <th>Rojas</th>
      {% endif %}

      {% if disciplina.deporte.nombre in 'Voley'%}
        <th>Games 1°Set</th>
        <th>Games 2°Set</th>
        <th>Games 3°Set</th>
        <th>Amarillas</th>
        <th>Rojas</th>
      {% endif %}

      {% if disciplina.deporte.nombre in 'Pesca'%}
        <th>Peso[g]</th>
        <th>Cantidad</th>
      {% endif %}

      {% if disciplina.deporte.nombre in 'Natación'%}
        <th>Tiempo[s]</th>
      {% endif %}
      {% if disciplina.deporte.nombre in 'Aguas Abiertas'%}
        <th>Tiempo[s]</th>
      {% endif %}
      {% if disciplina.deporte.nombre in 'Ciclismo'%}
        <th>Tiempo[s]</th>
      {% endif %}
      {% if disciplina.deporte.nombre in 'Vela'%}
        <th>Tiempo[s]</th>
      {% endif %}
      {% if disciplina.deporte.nombre in 'Caminata/Carrera' %}
        <th>Tiempo[s]</th>
      {% endif %}

      {% if disciplina.deporte.nombre in 'Atletismo' and disciplina.nombre == 'Salto en Largo'%}
        <th>Distancia[m]</th>
      {% endif %}
      {% if disciplina.deporte.nombre in 'Atletismo' and disciplina.nombre != 'Salto en Largo'%}
        <th>Tiempo[s]</th>
      {% endif %}

      {% if disciplina.deporte.nombre in 'Recreativos'%}
        <th>Puntos Favor</th>
      {% endif %}
    {% endif %}

    {%if disciplina.modalidad in 'PosicionManual'%}
      <th>Posicion </th>
    {% endif %}
    
    <th>Compitió?</th>

  </tr>     
</thead>
  



