<!DOCTYPE html>
{% extends 'torneo/base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}

<div class="wrapper row3">
  <div id="container">

    <section class="clear">
      <p>
        <font style="font-size: 26px; color: black"> <b>{{equipo.nombre}}</b></font>
        <br>
        <font style="font-size: 18px; color: grey"> <b>{{equipo.disciplina}}</b></font>
      </p>

      <div class="two_third first">		
        <figure class="post-image"><img src="{{equipo.foto_equipo.url}}" alt="" style="max-height:400px; max-width:850px; overflow: hidden"></figure>
        {% if equipo.descripcion%}
          <li><b>Descripción: </b> {{equipo.descripcion}}</li>            
        {% endif %}        
	    </div>
    </section>
   
    <section>
      <h2>Jugadores/as:</h2>
      <ul class="nospace clear">
     
        <li class="one_quarter first"> </li>
            
        {% for miembro in equipo.jugadores.all %}
          <li class="one_quarter">
            <figure class="team-member">
              {% thumbnail miembro.foto "150x200" crop="top" as im %}
                  <img src="{{ im.url }}">
              {% endthumbnail %}
              
              <figcaption>
                <p class="team-name">
                  <a href="{% url 'vista_jugador' id_olimpiada=olimpiada.pk id_jugador=miembro.pk %}">
                    {{miembro.nombre|title}} {{miembro.apellido|title}}
                  </a>
                </p>
                <p class="team-title">{{miembro.delegacion}}</p>
              </figcaption>
            </figure>
          </li>
        {% endfor %}
      </ul>
    </section>



    <div class="clear"></div>
  </div>
</div>

{% endblock %}
