<!DOCTYPE html>
{% extends 'torneo/base.html' %}
{% load staticfiles %}
{% load thumbnail %}


{% block javascript %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

  {# PHOTOS PAGE SCRIPTS #}
  <script src="{% static 'js/basic-upload.js' %}"></script>
{% endblock %}


{% block content %}
  <!-- {# 1. BUTTON TO TRIGGER THE ACTION #} -->
  <button type="button" class="btn btn-primary js-upload-photos">
    <span class="glyphicon glyphicon-cloud-upload"></span> Subir Fotos
  </button>

  <!-- {# 2. FILE INPUT TO BE USED BY THE PLUG-IN #} -->
  <input id="fileupload" type="file" name="file" multiple
         style="display: none;"
         data-url="{% url 'basic_upload' %}"
         data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
  
<!--   {% with cantidad=fotos.count %}
    <input type="text" name="cantidad">
  {%endwith%} -->

  <!-- {# 3. TABLE TO DISPLAY THE UPLOADED PHOTOS #} -->
  <table id="gallery" class="table table-bordered">
    <thead>
      <tr>
        <th>Foto</th>
      </tr>
    </thead>
    <tbody>
      {% for foto in fotos %}
        <tr>
          <td><a href="{{ foto.file.url }}">{{ foto.file.name }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <form action="{% url 'etiquetar_fotos' %}" method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Submit" />
  </form>


{% endblock %}   



