<!DOCTYPE html>
{% extends 'torneo/base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block content %}


<style>
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }

  td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 5px;
  }

  tr:nth-child(even) {
      background-color: #dddddd;
  }
</style>


<!-- ################################################################################################ -->
<div class="wrapper row1">
  <div class="rslides_container clear">
    <ul class="rslides clear" id="rslides">
      {%for slider in sliders.all %}
        {% thumbnail slider.imagen "1280x200" crop="center" as im %}
          <img src="{{ im.url }}">
        {% endthumbnail %}
      {% endfor %}
    </ul>
  </div>
  <div class="clear"></div>
</div>
<!-- ################################################################################################ -->



<!-- ################################################################################################ -->
<div class="wrapper row3">
  <div id="container" style="padding-top:10px">
    <div id="homepage" class="clear">


        <div class="two_third first">
            <div class="clear">
               {%if video_portada.video_link%}
                  <iframe width="100%" height='300' src="{{video_portada.video_link}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> 
            	 {%endif%}                                        
            </div>

            <div class="divider2"></div>
    
            <div class="clear">
              {%for noticia in noticias.all|slice:":2" %}
                  <article class="{% cycle 'one_half first' 'one_half' 'one_half first' 'one_half' %}">
                        <font style="font-size:26px; color:#428bca;"><a href="{% url 'vista_post' id_olimpiada=olimpiada.pk id_post=noticia.pk%}"><font class="heading">{{noticia.titulo}}</font></a></font>
                        {% if noticia.subtitulo %}     
                            <p>{{noticia.subtitulo}}</p>
                        {% endif %}     
                        <image>
                          {% thumbnail noticia.foto "474x300" crop="top" as im %}
                              <img src="{{ im.url }}">
                          {% endthumbnail %}
                        </image>
                        <p style="text-align: justify;"> {{noticia.resumen}} </p>
                  </article>
              {% endfor %}                       
            </div>
            <br>
        
            <div class="flexslider2 basicslider2" style="color: black">
              <ul class="slides">
                {%for noticia in noticias.all|slice:"2:10" %}
                    <li>
                      <article>
                        <div class="one_half first">
                          <a href="{% url 'vista_post' id_olimpiada=olimpiada.pk id_post=noticia.pk%}" style="color:black">
                            <h2 class="heading" style="color: #428bca">{{noticia.titulo}}</h2>
                          </a>
                          <p>{{noticia.resumen|slice:":200"}}</p>
                          <a href="{% url 'vista_post' id_olimpiada=olimpiada.pk id_post=noticia.pk%}" style="color:white">
                            Ver Más &raquo;
                          </a>
                        </div>
                        <div class="one_half">
                          {% thumbnail noticia.foto "474x300" crop="top" as im %}
                            <img src="{{ im.url }}">
                          {% endthumbnail %}
                        </div>
                      </article>
                    </li>
                {%endfor%}
              </ul>
            </div>
          
            <br>
            <br>
            <br>
          



            <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script> -->
            <!-- <script type="text/javascript" src="{% static 'layout/scripts/jquery-bracket/jquery-1.6.2.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'layout/scripts/jquery-bracket/dist/jquery.bracket.min.js' %}"></script>
            <link rel="stylesheet" type="text/css" href="{% static '/layout/scripts/jquery-bracket/dist/jquery.bracket.min.css' %}" /> -->
            <div>
              <!-- <script>
                var minimalData = {
                    teams : [
                      ["Team 1", "Team 2"], /* first matchup */
                      ["Team 3", "Team 4"]  /* second matchup */
                    ],
                    results : [
                      [[1,2], [3,4]],       /* first round */
                      [[4,6], [2,1]]        /* second round */
                    ]
                  }
                 
                $(function() {
                    $('#minimal .demo').bracket({
                      init: minimalData /* data to initialize the bracket with */ })
                  })
              </script> -->

              <!-- <script>
                var autoCompleteData = {
                    teams : [
                      ['fi:Team 1', 'se:Team 2'],
                      [null, null]
                    ],
                    results : []
                  }
                 
                /* Data for autocomplete */
                var acData = ["kr:MC", "ca:HuK", "se:Naniwa", "pe:Fenix",
                              "us:IdrA", "tw:Sen", "fi:Naama"]
                 
                /* If you call doneCb([value], true), the next edit will be automatically 
                   activated. This works only in the first round. */
                function acEditFn(container, data, doneCb) {
                  var input = $('<input type="text">')
                  input.val(data)
                  input.autocomplete({ source: acData })
                  input.blur(function() { doneCb(input.val()) })
                  input.keyup(function(e) { if ((e.keyCode||e.which)===13) input.blur() })
                  container.html(input)
                  input.focus()
                }
                 
                function acRenderFn(container, data, score, state) {
                  switch(state) {
                    case 'empty-bye':
                      container.append('BYE')
                      return;
                    case 'empty-tbd':
                      container.append('TBD')
                      return;
                 
                    case 'entry-no-score':
                    case 'entry-default-win':
                    case 'entry-complete':
                      var fields = data.split(':')
                      if (fields.length != 2)
                        container.append('<i>INVALID</i>')
                      else
                        container.append('<img src="site/png/'+fields[0]+'.png"> ').append(fields[1])
                      return;
                  }
                }

               
              $(function() {
                  $('div#autoComplete .demo').bracket({
                    init: autoCompleteData,
                    save: function(){}, /* without save() labels are disabled */
                    decorator: {edit: acEditFn,
                                render: acRenderFn}})
                })
              </script> -->

            </div>

        </div>




        <div class="one_third">
            <div class="clear">
              {%if video_portada2.video_link%}
                  <iframe width="100%" height="218" src="{{video_portada2.video_link}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
               {%endif%}                                        
            </div>

            <div class="divider2"></div>
            <!-- {% if posiciones %}
              <div>
                <h2>Copa Conjunto</h2>
                        
                <table style="width:100%">
                  <thead>
                    <tr class="info">
                       <th>Pos</th>
                       <th>Delegación</th>
                       <th>Puntos</th>
                    </tr>     
                  </thead>
                  
                  <tbody>
                  {% for posicion in posiciones %}      
                    <tr class="info">
                      <th>{{posicion.posicion}}</th>
                      <th> <a href="{% url 'vista_delegacion' id_olimpiada=olimpiada.pk id_delegacion=posicion.delegacion.pk %}">  {{posicion.delegacion.nombre}} </a> </th>
                      <th>{{posicion.puntos}}</th>
                    </tr>     
                  {% endfor %}  
                  </tbody>
                </table>

              </div> -->

              <!-- <div>
                <h2>Copa Rendimiento</h2>
                        
                <table style="width:100%">
                  <thead>
                    <tr class="info">
                       <th>Pos</th>
                       <th>Delegación</th>
                       <th>Rendimiento</th>
                    </tr>     
                  </thead>
                  
                  <tbody>
                  {% for posicion in posiciones_rendimiento %}      
                    <tr class="info">
                      <th>{{posicion.posicion_rendimiento}}</th>
                      <th> <a href="{% url 'vista_delegacion' id_olimpiada=olimpiada.pk id_delegacion=posicion.delegacion.pk %}">  {{posicion.delegacion.nombre}} </a> </th>
                      <th>{{posicion.rendimiento|floatformat:3}}</th>
                    </tr>     
                  {% endfor %}  
                  </tbody>
                </table>
              </div> -->
            {% endif %}


        
            {%if competencias.all%}
                <h2 style="font-size:22px; color:#428bca"><b>Próximas Competencias:</b> </h2>
                {%for competencia in competencias.all %}
                  <article class="push30 clear">
                    <div class="one_fifth first"><img src="{{competencia.disciplina.deporte.icono_deporte.url}}" alt=""></div>
                    <div class="four_fifth">
                      <h2 class="font-large nospace">
                        {{competencia.disciplina.deporte.nombre}} {{competencia.disciplina.nombre}} {{competencia.disciplina.genero}} 
                        {%if competencia.disciplina.limite_edad == 0%}
                        (Libre)
                        {%else%}
                        ({{competencia.disciplina.limite_edad}})
                        {%endif%}
                      </h2>

                      <li>{{competencia.fecha}}</li>
                      <li>{{competencia.lugar}}</li>
                      
                      {%if competencia.disciplina.tipo in 'Grupal'%}
                        <li>
                        {%for equipo in competencia.equipos.all%}
                            <b>{{equipo.nombre}}</b>
                            {% if equipo.nombre == competencia.equipos.first.nombre %}
                                <b>vs.</b>
                            {%endif%}  
                        {%endfor%}  
                        </li>
                     {%endif%}  
                     <!--
                     {%if competencia.disciplina.tipo in 'Individual'%}
                     <ol>
                        {%for participante in competencia.participantes.all%}
                            <li>{{participante.nombre}}</li>
                        {%endfor%}  
                     </ol>
                     {%endif%}  
                     -->
                     <footer class="read-moreee" style="align-content: left;"><a href="{% url 'vista_competencia' id_olimpiada=olimpiada.pk id_competencia=competencia.pk%}">Ver Más &raquo;</a></footer>
                  </div>
                </article>
              {%endfor%} 
            {%endif%}
        </div>

        <div class="clear"></div>

  </div>
 </div>
</div>



<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://code.jquery.com/ui/1.10.1/jquery-ui.min.js"></script>
<script>window.jQuery || document.write('<script src="layout/scripts/jquery-latest.min.js"><\/script>\
<script src="layout/scripts/jquery-ui.min.js"><\/script>')</script>
<script>jQuery(document).ready(function($){ $('img').removeAttr('width height'); });</script>
<script src="{% static 'layout/scripts/responsiveslides.js-v1.53/responsiveslides.min.js' %}"></script>
<script src="{% static 'layout/scripts/custom.js' %}"></script>

{% endblock %}