<!DOCTYPE html>
{% extends 'torneo/base.html' %}
{% load staticfiles %}

{% block content %}



{% if inscripcion %}        
  <div class="wrapper row3">
    <div id="container">
      <h1>Inscripción realizada con éxito.</h1>
      <div> 
        <br><br>
        <font style="font-size: 20px"> <b>En breve recibirás un correo electrónico con más información.</b></font> <br>
        {{resumen_inscripcion}}
      </div>

    </div>
  </div> 

{%else%}
  <div class="wrapper row3">
    <div id="container">
      <h1>Inscripción actualizada exitosamente</h1>
    </div>
  </div> 
{%endif%}      
       




{% endblock %}




