<!DOCTYPE html>
{% extends 'torneo/base.html' %}
{% load staticfiles %}

{% block content %}

 
<div class="wrapper row3">
  <div id="container">
    <h1>Comenzando Inscripción</h1>
    <div> 
      <br><br>
      <font style="font-size: 24px"> 
        <b>
          Si ya tenés una cuenta de usuario primero deberás loguearte para poder inscribirte ( 
          <a href="{% url 'vista_login'%}">click acá para loguearte</a> ). Una vez logueado volvé a intentar inscribirte. 

          Si no tenés cuenta, al completar la inscripción se creará tu cuenta.
        </b>
    
        <a class="btn btn-default" style="color:black; margin:0 0 0 8px;float:center"
            href="{% url 'vista_inscripcion_parte1a' id_olimpiada=olimpiada.pk %}">
            Comenzar Inscripción
        </a>

      </font> <br>

    </div>

  </div>
</div> 


{% endblock %}