<!DOCTYPE html>
{% extends 'torneo/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
    <link href="{% static 'layout/styles/form.css' %}" rel="stylesheet" type="text/css" media="all">


    <div class="wrapper row3">
        <div id="container">

            <h1 style="margin-bottom: 40px;">Inscripcion Juegos Deportivos CONICET (Paso 1/3)</h1>

            <div>
                <form action="{% url vista_form id_olimpiada=olimpiada.pk  id_jugador=jugador.pk %}"
                      method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ formulario.non_field_errors }}

                    {% for field in formulario.visible_fields %}
                        <div class="form-group  form-row" id={{ "id_row_"|add:field.html_name }}>
                            <label class="control-label col-sm-2">{{ field.label_tag }}
                                {% if field.field.required %}
                                    <span class="required">(*)</span>
                                {% endif %}
                            </label>
                            <div class="col-sm-6">
                                {% if field.field.widget.input_type == "checkbox" %}
                                    {% if field.errors %}
                                        {{ field.errors }}
                                        <br>
                                    {% endif %}
                                    {% if field.help_text %}
                                        {{ field.help_text }}
                                        <br>
                                    {% endif %}
                                    <div id={{ field.auto_id }}>
                                        {% for value,label in field.field.widget.choices %}
                                            <div class="checkbox">
                                                {% if value in field.value %}
                                                    <label> <b> <input name={{ field.name }} value={{ value }}
                                                                       id="{{ field.auto_id }}_{{ forloop.counter0 }}"
                                                                       checked="" type="checkbox">{{ label }}
                                                    </b></label>
                                                {% else %}
                                                    <label> <b> <input name={{ field.name }} value={{ value }}
                                                                       id="{{ field.auto_id }}_{{ forloop.counter0 }}"
                                                                       type="checkbox">{{ label }}</b></label>

                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {% if field.errors %}
                                        {{ field.errors }}
                                        <br>
                                    {% endif %}
                                    {% if field.help_text %}
                                        {{ field.help_text }}
                                        <br>
                                    {% endif %}
                                    {{ field }}

                                    {% if 'Tipo de Personal' in field.label_tag %}
                                        <div class="accordion-wrapper"><a href="javascript:void(0)"
                                                                          class="accordion-title orange"><span> Referencias </span></a>
                                            <div class="accordion-content">
                                                <p>1) PERSONAL CONICET: el personal de las carreras del personal de 
                                                    apoyo y del investigador, los/as becarios/as y administrativos/as, 
                                                    de planta permanente y transitoria (o sea los que dependen 
                                                    directamente del “empleador CONICET”), que constituyen la mayoría 
                                                    de los/as participantes y representan el origen y el núcleo 
                                                    principal de la actividad.</p><br>

                                                <p>2) PERSONAL VINCULADO AL CONICET: aquellas personas que integren 
                                                    diversos grupos de investigación, en centros e institutos de todo 
                                                    el país que dependan de entidades y organismos públicos vinculados 
                                                    al sector científico y tecnológico que puedan certificar una 
                                                    vinculación laboral con algún *integrante* del Consejo Nacional de 
                                                    Investigaciones Científicas y Técnicas (CONICET).
                                                    Entiéndase como vinculación al CONICET a la autoría en artículos 
                                                    científicos, docentes-investigadores/as que sean directores/as o 
                                                    codirectores/as de becarios/as de CONICET, la participación en 
                                                    proyectos de investigación o en servicios de transferencia con 
                                                    integrantes  del Consejo, con una antigüedad que no supere los 5 
                                                    años, debiendo en todos los casos presentar copia del documento 
                                                    vinculante (sólo secciones acordes para validar la existencia del 
                                                    documento y/o la participación como integrante ejecutor/a) y 
                                                    certificado de vinculación CONICET (CVC) firmado por el/la 
                                                    investigador/a CONICET de mayor rango en el grupo de investigación 
                                                    y/o director/a de la Unidad Ejecutora (UE) donde se desempeñe la 
                                                    persona.
                                                    Para el caso de becarios/as que no pertenezcan al Consejo, que 
                                                    desempeñen sus tareas en UE o con investigadores/as del CONICET en 
                                                    Universidades y que sean de incorporación reciente, sólo se 
                                                    requerirá el certificado CVC firmado por el director/as de la UE o 
                                                    por su director/a, respectivamente.
                                                    En cualquier caso, el tope máximo de participantes pertenecientes a 
                                                    este grupo es del 10% del total del PERSONAL CONICET de la 
                                                    delegación.</p><br>

                                                <p>3) PERSONAL EX CONICET: aquellas personas compañeras que fueron 
                                                    integrantes del CONICET y que ya no forman parte de nuestra 
                                                    institución. Requisitos para participar en los juegos:
                                                    Deberán acreditar ante el COCO, la participación en por lo menos 
                                                    dos juegos deportivos ya sea en alguna de las disciplinas y/o haber 
                                                    participado activamente en la organización del evento.</p><br>

                                                <p>4) PERSONAL JUBILADO: aquellas personas que fueron PERSONAL CONICET 
                                                    y actualmente se encuentran jubiladas.</p><br>

                                                <p>5) INVITADOS ESPECIALES: son aquellas personas que, 
                                                    independientemente de si pertenecieron o no al CONICET, colaboran 
                                                    activamente año tras año en la organización de los Juegos 
                                                    Deportivos del CONICET. Su inclusión es propuesta por las 
                                                    distintas delegaciones y queda a consideración del COCO.</p><br>

                                                <p>6) PERSONAL ACOMPAÑANTE COLABORADOR: para todo el personal que no 
                                                    tenga una vinculación con CONICET, pueden ser amigos/as o 
                                                    familiares de los participantes. Este personal no podrá participar 
                                                    de los deportes pero si colaborar en la organización como: 
                                                    planillero/a, dejar en condiciones las canchas para el comienzo de 
                                                    los partidos, encargarse del material deportivo necesario para 
                                                    cada encuentro, y toda actividad que la organización considere 
                                                    que sea de utilidad.</p>
                                            </div>
                                        </div>
                                    {% endif %}

                                {% endif %}
                                {{ field.errors }}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="submit-row">
                        <input style="color:white; margin-top:10px;" class="btn btn-primary" type="submit"
                               value="Siguiente">
                    </div>

                </form>
            </div>

        </div>
    </div>


{% endblock %}




