<!DOCTYPE html>
{% extends 'torneo/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %} 

{% block content %}
    <link href="{% static 'layout/styles/form.css' %}" rel="stylesheet" type="text/css" media="all">


    <div class="wrapper row3">
        <div id="container">

            <h1 style="margin-bottom: 40px;">Inscripcion Juegos Deportivos CONICET (Paso 1/3)</h1>

            <div>
                <form action="{% url 'vista_inscripcion_parte1a' id_olimpiada=olimpiada.pk %}" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ formulario.non_field_errors }}

                    {% for field in formulario.visible_fields %}
                        <div class="form-group  form-row" id={{ "id_row_"|add:field.html_name }}>
                            <label class="control-label col-sm-2">{{ field.label_tag }}
                                {% if field.field.required %}
                                    <span class="required">(*)</span>
                                {% endif %}
                            </label>
                            <div class="col-sm-6">
                                {% if field.field.widget.input_type == "checkbox" %}
                                    {% if field.errors %}
                                        {{ field.errors }}
                                        <br>
                                    {% endif %}
                                    {% if field.help_text %}
                                        {{ field.help_text }}
                                        <br>
                                    {% endif %}
                                    <div id={{ field.auto_id }}>
                                        {% for value,label in field.field.widget.choices %}
                                            <div class="checkbox">
                                                {% if value in field.value %}
                                                    <label> <b> <input name={{ field.name }} value={{ value }}
                                                                       id="{{ field.auto_id }}_{{ forloop.counter0 }}"
                                                                       checked="" type="checkbox">{{ label }}
                                                    </b></label>
                                                {% else %}
                                                    <label> <b> <input name={{ field.name }} value={{ value }}
                                                                       id="{{ field.auto_id }}_{{ forloop.counter0 }}"
                                                                       type="checkbox">{{ label }}</b></label>

                                                {% endif %}
                                            </div>                                    
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {% if field.errors %}
                                        {{ field.errors }}
                                        <br>
                                    {% endif %}
                                    {% if field.help_text %}
                                        {{ field.help_text }}
                                        <br>
                                    {% endif %}
                                    {{ field }}

                                    {% if 'Tipo de Personal' in field.label_tag %}
                                        <div class="accordion-wrapper"><a href="javascript:void(0)"
                                                                          class="accordion-title orange"><span> Referencias </span></a>
                                            <div class="accordion-content">
                                                <p>1) PERSONAL CONICET: el personal de las carreras de
                                                    apoyo y del investigador/a, los becarios/as y administrativos/as,
                                                    de planta permanente y transitoria (o sea los que dependen
                                                    directamente del “empleador CONICET”), que constituyen la mayoría de
                                                    los participantes y representan el origen y el núcleo principal de
                                                    la actividad</p><br>
                                                <p>2) PERSONAL NO CONICET: aquellos compañeros/as que integran diversos
                                                    grupos de trabajo, en centros e institutos de todo el país, pero que
                                                    dependen de entidades y organismos vinculados al sector científico y
                                                    tecnológico perteneciente a la esfera pública (como universidades y
                                                    organismos, sean provinciales o nacionales), así como
                                                    emprendimientos privados. Debe efectivamente compartir el ámbito de
                                                    trabajo con miembros del CONICET y tendrá que presentar una
                                                    certificación que explicite su vinculación. En este grupo de
                                                    personal el tope máximo de participantes permitidos es el 10% del
                                                    total de la delegación.</p><br>
                                                <p>3) PERSONAL EX CONICET: aquellos compañeros/as que pertenecieron al
                                                    CONICET y que ya no forman parte de nuestra institución, por un
                                                    periodo máximo de 5 años, contando a partir de la fecha de inicio de
                                                    los Juegos Deportivos CONICET del corriente año. Para poder
                                                    participar deberán presentar una certificación que explicite hasta
                                                    cuando fue miembro del CONICET. No hay cupo máximo de
                                                    participación.</p><br>
                                                <p>4) PERSONAL JUBILADO: aquellos compañeros/as que fueron PERSONAL CONICET
                                                    y actualmente se encuentran jubilados.</p><br>
                                                <p>5) PERSONAL ACOMPAÑANTE COLABORADOR: para todo el personal que no
                                                    tenga una vinculación con CONICET, pueden ser amigos o familiares de
                                                    los participantes. Este personal no podrá participar de los deportes
                                                    pero si colaborar en la organización como: planillero, dejar en
                                                    condiciones las canchas para el comienzo de los partidos, encargarse
                                                    del material deportivo necesario para cada encuentro, y toda
                                                    actividad que la organización considere que sea de utilidad.</p>
                                            </div>
                                        </div>
                                    {% endif %}

                                {% endif %}
                        {{ field.errors }}
                        </div>
                        </div>
                    {% endfor %}
        <div class="submit-row">
            <input style="color:white; margin-top:10px;" class="btn btn-primary" type="submit"
                   value="Siguiente">
        </div>

        </form>
    </div>

    </div>
    </div>


{% endblock %}

