<!DOCTYPE html>
{% extends 'torneo/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
    <link href="{% static 'layout/styles/form.css' %}" rel="stylesheet" type="text/css" media="all">


    <div class="wrapper row3">
        <div id="container">

            <h1 style="margin-bottom: 40px;">Inscripcion Juegos Deportivos CONICET (Paso 3/3)</h1>

            <div>
                <form action="{% url 'vista_inscripcion_parte2b' id_olimpiada=olimpiada.pk  id_jugador=jugador.pk %}"
                      method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ formulario.non_field_errors }}

                    <div class="accordion-wrapper"><a href="javascript:void(0)"
                                                      class="accordion-title orange"><span> Políticas de Inscripción a Disciplinas </span></a>
                        <div class="accordion-content">
                            <p>1) Natación: se permite la inscripción a un máximo de 5 disciplinas individuales, las 2 postas 4x25 y una sola posta americana.
                                Por defecto solo podrán inscribirse a su categoría, sin embargo es factible
                                posteriormente gestionar un cambio de categoría con el delegado de Natación.</p><br>
                            <p>2) Atletismo: se permite la inscripción a un máximo de 5 disciplinas individuales y a
                                todas las postas grupales.
                                Por defecto solo podrán inscribirse a su categoría, sin embargo es factible
                                posteriormente gestionar un cambio de categoría con el delegado de Atletismo.</p><br>
                            <p>3) Fútbol: los participantes de sexo masculino con más de 40 años pueden inscribirse a la
                                categoría Futbol 7 +40 y Fútbol 11 Libre.
                                En Fútbol 7 +40 además se permite 1 solo participante +38 por equipo, esto se gestiona
                                previo al inicio de los juegos con el delegado de Fútbol.</p><br>
                            <p>4) Básquet: los participantes de sexo masculino con más de 40 años pueden inscribirse a
                                la categoría Basquet Libre y Basquet 3 +40.</p><br>
                            <p>5) Ajedrez / Bochas / Hockey / Handball / Voley / Tenis de Mesa: sin limitaciones.</p>
                            <br>
                            <p>6) Pesca: sin limitaciones. Por defecto aparece una sola categoría entre las opciones
                                pero automáticamente al seleccionar la disciplina mostrada se es incripto a ambas
                                categorías: Pieza Mayor y Cantidad</p><br>
                            <p>7) Tenis: se permite la inscripción a un máximo de 3 disciplinas. Los mayores de 40 años
                                pueden optar por su categoría o por la categoría libre.</p><br>
                            <p>8) Caminata/Carrera: los participantes por defecto son inscriptos en las categorías
                                correspondientes en función de la edad.</p><br>
                        </div>
                    </div>

                    {% for field in formulario.visible_fields %}
                        <div class="form-group  form-row" id={{ "id_row_"|add:field.html_name }}>
                            <label class="control-label col-sm-2">{{ field.label_tag }}
                                {% if field.field.required %}
                                    <span class="required">(*)</span>
                                {% endif %}
                            </label>
                            <div class="col-sm-6">
                                {% if field.field.widget.input_type == "checkbox" %}
                                    <div id={{ field.auto_id }}>
                                        {% for value,label in field.field.widget.choices %}
                                            <div class="checkbox">
                                                {% if value in field.value %}
                                                    <label> <b> <input name={{ field.name }} value={{ value }}
                                                                       id="{{ field.auto_id }}_{{ forloop.counter0 }}"
                                                                       checked="" type="checkbox">{{ label }}
                                                    </b></label>
                                                {% else %}
                                                    <label> <b> <input name={{ field.name }} value={{ value }}
                                                                       id="{{ field.auto_id }}_{{ forloop.counter0 }}"
                                                                       type="checkbox">{{ label }}</b></label>

                                                {% endif %}
                                            </div>                                        
                                        {% endfor %}
                                    </div>

                                {% else %}
                                    {% if field.errors %}
                                        {{ field.errors }}
                                        <br>
                                    {% endif %}
                                    {% if field.help_text %}
                                        {{ field.help_text }}
                                        <br>
                                    {% endif %}
                                    {{ field }}

                                {% endif %}
                                {{ field.errors }}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="submit-row">

                        <input style="color:white; margin:0 0 0 8px;float:right" class="btn btn-primary" type="submit"
                               value="Siguiente">

                        <a class="btn btn-default" style="color:black; margin:0 0 0 8px;float:right"
                            href="{% url 'vista_inscripcion_parte2' id_olimpiada=olimpiada.pk  id_jugador=jugador.pk %}">
                            Anterior
                        </a>

                    </div>
                </form>




        </div>
    </div>
{% endblock %}


