<!DOCTYPE html>
{% extends 'torneo/base.html' %}
{% load staticfiles %}

{% block content %}


<div class="wrapper row3">
  <div id="container">
      
    <font style="font-size: 20px"> 
      La inscripción para la presente edición de los Juegos Deportivos de CONICET se encuentra cerrada.
    <font>
    <br>
    <div> 
      <font style="font-size: 18px"> 
        <b>
          Por consultas dirigirse a la sección <a href="{% url 'vista_contacto' id_olimpiada=olimpiada.pk%}">CONTACTO<a/>.
        </b>
    </div>
    
    
  </div>
</div>  
      

{% endblock %}




