<!DOCTYPE html>
{% extends 'torneo/base.html' %}
{% load staticfiles %}

{% block content %}


<div class="wrapper row3">
  <div id="container">
    
    <p style="font-size: 20px; text-align: justify;">  
      <font> 
        Ya existe un usuario registrado con su número de documento y/o correo electrónico. <br>
        Para continuar primero deberá iniciar sesión y luego desde su perfil ingresar a "Modificación de Inscripción".
      <font>
    </p>
    
    <br>  

    <p style="font-size: 16px; text-align: justify;">
      <font> 
      <a href="{% url 'vista_login'%}"> Iniciar Sesión </a> <br>  
      Para iniciar sesión use como usuario su número de documento o correo electrónico. 
      Si no ha generado una contraseña previamente deberá ingresar en ¿Olvidó su Contraseña?, complete su e-mail y hacer click en "Enviar Correo".
      A continuación verifique su casilla de correo electrónico, deberá recibir un correo con las indicaciones para generar una nueva contraseña.
    <font>
    </p>

    <br>
    <div> 
      <font style="font-size: 16px"> 
        <b>
          Por consultas dirigirse a la sección <a href="{% url 'vista_contacto' id_olimpiada=olimpiada.pk%}">CONTACTO<a/>.
        </b>
    </div>
    
    
  </div>
</div>  
      

{% endblock %}




