<!DOCTYPE html>
{% extends 'torneo/base.html' %}
{% load staticfiles %}

{% block content %}


<div class="wrapper row3">
  <div id="container">
      
    <h1>Error: No puede realizar modificaciones en su perfil.</h1>
    <br><br>
    <div style="font-size: 16px; text-align: justify;"> 
      <font> 
        <b>
          Han trascurrido más de 20 minutos desde que realizaste el último cambio, por razones de seguridad se ha desactivado la edición de tu perfil. Si necesitas realizar alguna modificación en la inscripción mandanos un correo a app.conicet@gmail.com para que lo habilitemos nuevamente. Este sitio se encuentra en desarrollo, próximamente quedará implementado un sistema de login de usuario mediante el cual podrás modificar tu perfil de forma directa.
        </b>
      </font> 
    </div>
    
    
  </div>
</div>  
      

{% endblock %}




