<!DOCTYPE html>
{% extends 'torneo/base.html' %}
{% load staticfiles %}

{% block content %}
        
<div class="wrapper row3">
  <div id="container">
    
    <div class="clear">
      
      <h1>{{jugador.nombre}} {{jugador.apellido }}</h1>      

      <li class="one_third first">
        <div class="push30"> <img src="{{jugador.foto.url}}" alt="" style="max-height:400px; max-width:400px; overflow: hidden"></div>
      </li>
      
      <li class="one_third">
        <div class="skillset push30">
          <ul class="nospace clear">
            
            <li><b>Delegación: </b> {{jugador.delegacion}}</li>
            <li><b>Localidad: </b> {{jugador.localidad}}</li>
            <li><b>Institución: </b> {{jugador.institucion}}</li>
            <li><b>Tipo de Personal: </b> {{jugador.tipo_personal}}</li>
            <li><b>Actividad Laboral: </b> {{jugador.actividad_laboral}}</li>
            {% if jugador.link_web_laboral %} <li><b>Sitio Web Laboral:</b> {{jugador.link_web_laboral}}</li> {% endif %}
            
            {% if jugador.mostrar_edad%}
              <li><b>Edad:</b>  {{edad}}</li>
            {%endif%}

            <li><b>e-Mail:</b> {{jugador.mail}}</li>            
            {% if jugador.facebook %} <li><b>Red Social:</b> {{jugador.facebook}}</li> {% endif %}
            
            
            <li><b>Deportes:</b></li>
            <ol>
              {% if ficha_inscripcion.deporte1 %}
                <li><b>Principal:</b>  {{ficha_inscripcion.deporte1}}</li>
              {%endif%}
              {% if ficha_inscripcion.deporte2 %}
                <li><b>Secundario:</b>  {{ficha_inscripcion.deporte2}}</li>
              {%endif%}
              {% if ficha_inscripcion.deporte3 %}
                <li><b>Terciario:</b>  {{ficha_inscripcion.deporte3}}</li>
              {%endif%}
              {% if ficha_inscripcion.deporte_maraton %}
                <li><b>Maratón/Caminata:</b>  {{ficha_inscripcion.deporte_maraton}}</li>
              {%endif%}
            </ol>
        
            {% if ficha_inscripcion.artes.all %}                 
                <li><b>Espacio Artístico:</b></li>
                <ol>
                   {% for arte in ficha_inscripcion.artes.all %}
                    <li>{{arte}}</li>
                     {% endfor %}
                </ol>
            {% endif %}
            
          </ul>
        </div>
      </li>
      
      <div class="two_third first">
        {% if jugador.descripcion_personal %} 
            <h2>Más Información </h2>
            <p> {{jugador.descripcion_personal}} </p>
        {% endif %}      
      </div>
    
    </div>

    <div class="clear"></div>

  </div>
</div>  
        
{% endblock %}




