<!DOCTYPE html>
{% extends 'torneo/base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}

<div class="wrapper row3">
  <div id="container">

    <section class="clear">
      <font style="font-size: 26px; color: black"> <b>Lista de Buena Fe</b></font>
      <font style="font-size: 18px; color: black">
        <li><b>Competencia:</b> {{competencia.nombre}}</li>
        <li><b>Disciplina:</b> {{competencia.disciplina}}</li>
        <li><b>Fecha: </b> {{competencia.fecha}} </li>
        <li><b>Lugar: </b> {{competencia.cancha}} </li>
      </font>     
    </section>

    <div class="skillset push30">
      <ul class="nospace clear">

        {% if competencia.disciplina.tipo in 'Grupal'%}
          <ul>
            {% for equipo in competencia.equipos.all%}
              <li>
                <font style="font-size: 18px; color: black"><b> {{equipo.nombre}}</b> </font>
              </li>
              
              <font style="font-size: 15px; color: black"><b> Capitán/es: {{capitan}} <br></b> </font>
              {% for capitan in equipo.capitanes.all%}
                <font style="font-size: 15px; color: black">
                  <b>
                    <a href="{% url 'vista_jugador' id_olimpiada=olimpiada.pk id_jugador=capitan.pk %}">
                      {{capitan.apellido|title}}, {{capitan.nombre|title}} <br>
                    </a>
                  </b> 
                </font> 
              {% endfor %}        
              

              <table border="1px solid black" style="width:50%">
                <thead>
                  <tr class="info">
                     <th>Apellido y Nombre</th>
                     <th>Foto</th>
                     <th>DNI</th>
                     <th>N°Camiseta</th>
                     <th>Campo1</th>
                     <th>Campo2</th>
                     <th>Firma Jugador</th>
                  </tr>     
                </thead>
                <tbody>
                  {% for jugador in equipo.jugadores.all %}
                    <tr class="info">
                      <th>  
                        <a href="{% url 'vista_jugador' id_olimpiada=olimpiada.pk id_jugador=jugador.pk %}"> 
                           {{jugador.apellido|title}},{{jugador.nombre|title}}
                        </a>
                      </th>

                      <th> {% thumbnail jugador.foto "75x100" crop="top" as im %}
                            <img src="{{ im.url }}">
                           {% endthumbnail %}
                      </th>
                      
                      <th>{{jugador.numero_documento}}</th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>     
                  {% endfor %}  
                </tbody>
              </table>
            {% endfor %}
          </ul>
        {% endif %}






        {% if competencia.disciplina.tipo in 'Individual'%}
          <ul>
            <table border="1px solid black" style="width:50%">
              <thead>
                <tr class="info">
                   <th>Nombre</th>
                   <th>Foto</th>
                   <th>DNI</th>
                   <th>N°Camiseta</th>
                   <th>Campo1</th>
                   <th>Campo2</th>
                   <th>Firma Jugador</th>
                </tr>     
              </thead>
              <tbody>
                {% for jugador in competencia.participantes.all%}
                  <tr class="info">
                    <th>{{jugador.apellido|title}},{{jugador.nombre|title}}</th>

                    <th> {% thumbnail jugador.foto "75x100" crop="top" as im %}
                          <img src="{{ im.url }}">
                         {% endthumbnail %}
                    </th>
                    
                    <th>{{jugador.numero_documento}}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>     
                {% endfor %}  
              </tbody>
            </table>
          </ul>
        {% endif %}  

      </ul>
    </div>

   
    



    <div class="clear"></div>
  </div>
</div>

{% endblock %}
