<!DOCTYPE html>
{% extends 'torneo/base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block content %}
<div class="wrapper row3">
  <div id="container">

    <div class="wrapper row3">
      <main class="hoc container clear"> 

        <div class="group">
          <div class="one_half first">

            <h6 class="heading font-x3">{{post.titulo}}</h6>
            {%if post.subtitulo%}
              <p>{{post.subtitulo}}</p>
            {%endif%}
            
            <div style="text-align: justify;"> {{post.text|safe}} </div>

          </div>
          <div class="one_half">
            <a href="#">
              {% thumbnail post.foto "457x350" crop="top" as im %}
                <img src="{{ im.url }}">
              {% endthumbnail %}
            </a>

            <br>
            <br>
            
            {%if post.video_link%}
              <iframe width="100%" height="300" src="{{post.video_link}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>      
            {%endif%}
          </div>

        </div>

        <div class="clear"></div>
      </main>
    </div>
   
    <div class="clear"></div>
  </div>
</div>

{% endblock %}
