<!DOCTYPE html>
{% extends 'torneo/base.html' %}
{% load staticfiles %}


{% block content %}
<div class="wrapper row3">
  <div id="container">

    
    <section class="clear">
      <h1>{{post.titulo}}</h1>
      
      {%if post.subtitulo%}
          <p>{{post.subtitulo}}</p>
      {%endif%}
      
      
      {%if post.foto%}
      <div class="two_third first">		
          <figure class="post-image"><img src="{{post.foto.url}}" alt="" style="max-height:400px; max-width:850px; overflow: hidden"></figure>
  	  </div>
  	  {%endif%}

  	  {%if post.video_link%}
            <iframe width="600" height="400" src="{{post.video_link}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>  	  
  	  {%endif%}

         <br>
         <br>
  	  
  	  {%if post.text%}
          	  <p>{{post.text}}</p>
  	  {%endif%}
	  
	  

	  
	  
	  
    </section>
       
   

    <div class="clear"></div>
  </div>
</div>

{% endblock %}
