<!DOCTYPE html>
{% extends 'torneo/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
<link href="{% static 'layout/styles/form.css' %}" rel="stylesheet" type="text/css" media="all">
        
<div class="wrapper row3">
  <div id="container">   
    <div class="clear">
      

      <div class="two_third first">
    		<h1>{{jugador.nombre}} {{jugador.apellido }}</h1>       
      
        <br>
        <div class="skillset push30">
          <ul class="nospace clear">
            
            <li><b>Delegación: </b> {{jugador.delegacion}}</li>
            <li><b>Localidad: </b> {{jugador.localidad}}</li>
            <li><b>Institución: </b> {{jugador.institucion}}</li>
            <li><b>Tipo de Personal: </b> {{jugador.tipo_personal}}</li>
            <li><b>Actividad Laboral: </b> {{jugador.actividad_laboral}}</li>
            {% if jugador.link_web_laboral %} <li><b>Sitio Web Laboral:</b> {{jugador.link_web_laboral}}</li> {% endif %}
            
            <li><b>Edad:</b>  {{edad}}</li>
            <li><b>e-Mail:</b> {{jugador.mail}}</li>            
            {% if jugador.facebook %} <li><b>Facebook:</b> {{jugador.facebook}}</li> {% endif %}
            
          </ul>
        </div>
      </div>

      <div class="one_third">
        <img src="{{jugador.foto.url}}" alt="" style="max-height:100%; max-width:100%; overflow: hidden">
        <br>
        <br>
        <div class="submit-row">
          <a class="btn btn-default" style="color:black; margin:0 0 0 8px;float:right"
            href="{% url 'vista_jugador' id_olimpiada=olimpiada.pk  id_jugador=jugador.pk %}">
            Ver Perfil Público
          </a>
          <br>
          <br>
          {% if inscripcion_activa %}
            <a class="btn btn-default" style="color:black; margin:0 0 0 8px;float:right"
              href="{% url 'vista_inscripcion_parte1b_logged' id_olimpiada=olimpiada.pk  id_jugador=jugador.pk %}">
              Editar Inscripción | {{olimpiada}}
            </a>
          {% endif %}
          
        </div>
      </div>

      <div class="divider2"></div>

      {%if disciplinas_con_permisos%}
        <div class="two_third first">
          <h1>Edición de Fixtures Disciplinas</h1>
          {% for disciplinas in disciplinas_con_permisos %}
            {% for disciplina in disciplinas %}
              <p>
                <a href="{% url 'vista_disciplina_editarfixture' id_olimpiada=olimpiada.pk id_disciplina=disciplina.pk %}"> {{disciplina}} </a>
              </p>
            {% endfor %}
          {% endfor %}
        </div>
      {%endif%}

      <div class="divider2"></div>

      <div>
        <h1>Modificación de Perfil Personal</h1>

        <div>
          <form action="{% url 'account_redirect'%}" method="post"
                enctype="multipart/form-data">
            {% csrf_token %}

            {{ formulario.non_field_errors }}

            {% for field in formulario.visible_fields %}
              <div class="form-group  form-row" id={{ "id_row_"|add:field.html_name }}>
                <label class="control-label col-sm-2">{{ field.label_tag }}
                    {% if field.field.required %}
                        <span class="required">(*)</span>
                    {% endif %}
                </label>

                <div class="col-sm-6">
                  {% if field.field.widget.input_type == "checkbox" %}
                    {% if field.errors %}
                      {{ field.errors }}
                      <br>
                    {% endif %}
                    {% if field.help_text %}
                      {{ field.help_text }}
                      <br>
                    {% endif %}
                    {{field}}
                    <div id={{ field.auto_id }}>
                      {% for value,label in field.field.widget.choices %}
                        <div class="checkbox">
                          {% if value in field.value %}
                              <label> <b> <input name={{ field.name }} value={{ value }}
                                                 id="{{ field.auto_id }}_{{ forloop.counter0 }}"
                                                 checked="" type="checkbox">{{ label }}
                              </b></label>
                          {% else %}
                              <label> <b> <input name={{ field.name }} value={{ value }}
                                                 id="{{ field.auto_id }}_{{ forloop.counter0 }}"
                                                 type="checkbox">{{ label }}</b></label>
                          {% endif %}
                        </div>      
                      {% endfor %}
                    </div>
                  {% else %}
                    {% if field.errors %}
                      {{ field.errors }}
                      <br>
                    {% endif %}
                    {% if field.help_text %}
                      {{ field.help_text }}
                      <br>
                    {% endif %}
                      {{ field }}
                  {% endif %}
                  {{ field.errors }}
                </div>
              </div>
            {% endfor %}

            <div class="submit-row">
                <input style="color:white; margin-top:10px;" class="btn btn-primary" type="submit"
                       value="Guardar">
            </div>
          </form>
        </div>
      </div>


    </div>
    <div class="clear"></div>
  </div>
</div>  


{% endblock %}




