<!DOCTYPE html>
{% extends 'torneo/base.html' %}
{% load staticfiles %}


{% block content %}
    

<div class="wrapper row3">
  <div id="container">
    <div class="clear">
      
      <div class="one_half first">
          {% if competencia.disciplina.tipo in 'Grupal'%}
            <h1>Cargar Resultado de {{participante.nombre}}</h1>
          {% endif %}
          {% if competencia.disciplina.tipo in 'Individual'%}
            <h1>Cargar Resultado de {{participante.apellido}}, {{participante.nombre}}</h1>
          {% endif %}

            <li>
                <div>
                    <form action="{% url 'vista_cargarresultado' id_olimpiada=olimpiada.pk id_competencia=competencia.pk id_participante=participante.pk %}" method="post">
                        {% csrf_token %}
                        {{ formulario }}
                        <input type="submit" value="Submit" />
                    </form>
                </div>
            </li>
      </div>
      
      
      
      
      
      <div class="one_half">
        <h2>Info Competencia</h2>
        
        <div class="skillset push30">
           <ul class="nospace clear">
                <li><b>Disciplina:</b> {{competencia.disciplina}}</li>
                <li><b>Fecha: </b> {{competencia.fecha}} </li>
                <li><b>Lugar: </b> {{competencia.cancha.nombre}} </li>

                {% if competencia.disciplina.tipo in 'Grupal'%}
            			<li><b>Equipos: </b></li>
            			<ol>
              			{% for equipo in competencia.equipos.all%}
                  		<li>{{equipo.nombre}}</li>
                    {% endfor %}
                  </ol>
                {% endif %}
                
                {% if competencia.disciplina.tipo in 'Individual'%}
            			<li><b>Competidores:</b> </li>
              			<ol>
                  		{% for participante in competencia.participantes.all%}
                  			<li>{{participante.apellido}}, {{participante.nombre}}</li>
                      {% endfor %}
                    </ol>
                {% endif %}                           
           </ul>
        </div>
          
      
      </div>
      <!-- ################################################################################################ -->
    
    
    </div>
    <!-- ################################################################################################ -->
    <div class="clear"></div>
  </div>
  
  <div class="clear"></div>

</div>  
        
{% endblock %}
