{% extends "torneo/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Iniciar Sesión" %}{% endblock %}

{% block content %}

<div class="wrapper row3">
  <div id="container">
    <div id="homepage" class="clear">
        <div class="two_third first">
            <div class="clear">

              <h1>{% trans "Iniciar Sesión" %}</h1>

              <!-- {% get_providers as socialaccount_providers %}

              {% if socialaccount_providers %}
                <p>
                  {% blocktrans with site.name as site_name %}
                    Puede iniciar sesión con alguna de las siguientes cuentas externas:
                  {% endblocktrans %}
                </p>

                <div class="socialaccount_ballot">
                  <ul class="socialaccount_providers">
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                  </ul>
                  <br>
                  <div class="login-or">{% trans 'También puede iniciar sesión utilizando su número de documento o su correo electrónico como nombre de usuario y su contraseña:' %}</div>
                </div>

                {% include "socialaccount/snippets/login_extra.html" %}
              {% endif %} -->

              <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "¿Olvidó su contraseña?" %}</a>
                <button class="primaryAction" type="submit">{% trans "Iniciar Sesión" %}</button>
              </form>

              <span> Recordá que tu usuario es tu número de documento y/o e-mail que utilizaste para inscribirte. Si es la primera vez que inicias sesión la contraseña deberás generarla desde "Olvidó su contraseña".</span>

            </div>
        </div>
  </div>
 </div>
</div>

{% endblock %}