{% extends "torneo/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Desconectarse" %}{% endblock %}

{% block content %}
<div class="wrapper row3">
  <div id="container">
    <div id="homepage" class="clear">
        <div class="two_third first">
            <div class="clear">
				<h1>{% trans "Desconectarse" %}</h1>

				<p>{% trans '¿Está seguro que desea desconectarse?' %}</p>

				<form method="post" action="{% url 'account_logout' %}">
				  {% csrf_token %}
				  {% if redirect_field_value %}
				  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
				  {% endif %}
				  <button type="submit">{% trans 'Desconectarse' %}</button>
				</form>

            </div>
        </div>
  </div>
 </div>
</div>

{% endblock %}
