{% extends "torneo/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Cambiar Contraseña" %}{% endblock %}

{% block content %}
<div class="wrapper row3">
  <div id="container">
    <div id="homepage" class="clear">
        <div class="two_third first">
            <div class="clear">
			    
			    <h1>{% trans "Cambiar Contraseña" %}</h1>
			    <p>{% trans 'Tu contraseña se ha modificado exitosamente.' %}</p>

            </div>
        </div>
  </div>
 </div>
</div>

{% endblock %}
