{% extends "torneo/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Restablecimiento de Contraseña" %}{% endblock %}

{% block content %}
<div class="wrapper row3">
  <div id="container">
    <div id="homepage" class="clear">
        <div class="two_third first">
            <div class="clear">
                <h1>{% trans "Restablecimiento de Contraseña" %}</h1>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p>{% trans "¿Olvidó su contraseña? Ingrese su correo electrónico a continuación y le enviaremos un correo con instrucciones para resetear su contraseña." %}</p>

                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="{% trans 'Enviar Correo' %}" />
                </form>

                <p>{% blocktrans %}Por favor contactarse con nosotros si tiene algún inconveniente reseteando su contraseña.{% endblocktrans %}</p>
            </div>
        </div>
  </div>
 </div>
</div>                
{% endblock %}
