{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Establecer Contraseña" %}{% endblock %}

{% block content %}
<div class="wrapper row3">
  <div id="container">
    <div id="homepage" class="clear">
        <div class="two_third first">
            <div class="clear">

			    <h1>{% trans "Establecer Contraseña" %}</h1>

			    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
			        {% csrf_token %}
			        {{ form.as_p }}
			        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
			    </form>

            </div>
        </div>
  </div>
 </div>
</div>

{% endblock %}
