{% extends "torneo/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Cambiar Contraseña" %}{% endblock %}

{% block content %}
<div class="wrapper row3">
  <div id="container">
    <div id="homepage" class="clear">
        <div class="two_third first">
            <div class="clear">
			    <h1>{% trans "Cambiar Contraseña" %}</h1>

			    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
			        {% csrf_token %}
			        {{ form.as_p }}
			        <button type="submit" name="action">{% trans "Cambiar" %}</button>
			    </form>
            </div>
        </div>
  </div>
 </div>
</div>  
{% endblock %}
