{% extends "torneo/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Restablecimiento de Constraseña" %}{% endblock %}

{% block content %}
<div class="wrapper row3">
  <div id="container">
    <div id="homepage" class="clear">
        <div class="two_third first">
            <div class="clear">
			    <h1>{% trans "Restablecimiento de Constraseña" %}</h1>
			    
			    {% if user.is_authenticated %}
			    {% include "account/snippets/already_logged_in.html" %}
			    {% endif %}
			    
			    <p>{% blocktrans %}Le hemos enviado un correo electrónico. Por favor contáctenos si no lo recibe en unos minutos.{% endblocktrans %}</p>
 			</div>
        </div>
  </div>
 </div>
</div>			    
{% endblock %}
