{% extends "torneo/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Cambiar Contraseña" %}{% endblock %}

{% block content %}
<div class="wrapper row3">
  <div id="container">
    <div id="homepage" class="clear">
        <div class="two_third first">
            <div class="clear">


                <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Cambiar Contraseña" %}{% endif %}</h1>

                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}El link para el restablecimiento de contraseña es inválido, posiblemente debido a que este ya fue usado. Por favor solicite un <a href="{{ passwd_reset_url }}">nuevo restablecimiento de constraseña</a>.{% endblocktrans %}</p>
                {% else %}
                    {% if form %}
                        <form method="POST" action="{{ action_url }}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" name="action" value="{% trans 'change password' %}"/>
                        </form>
                    {% else %}
                        <p>{% trans 'Tu contraseña se ha modificado exitosamente.' %}</p>
                    {% endif %}
                {% endif %}

            </div>
        </div>
  </div>
 </div>
</div>

{% endblock %}
