{% extends "torneo/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Registración Cerrada" %}{% endblock %}

{% block content %}

<div class="wrapper row3">
  <div id="container">
    <div id="homepage" class="clear">
        <div class="two_third first">
            <div class="clear">
				<h1>{% trans "Registración Cerrada" %}</h1>

				<p>{% trans "El registro solo es posible en período de inscripciones y mediante el formulario de inscripción." %}</p>

            </div>
        </div>
  </div>
 </div>
</div>				
{% endblock %}
