@charset "utf-8";
/* 
Template Name: Splash
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
File: Custom Flexslider CSS
*/

/* Browser Resets
--------------------------------------------------------------------------------------------------------------- */
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus{outline:none;}
/*.slides, .flex-direction-nav{margin:0; padding:0; list-style:none;}*/
.slides, .flex-control-nav, .flex-direction-nav{margin:0; padding:0; list-style:none;}


/* FlexSlider Necessary Styles
--------------------------------------------------------------------------------------------------------------- */
.flexslider{display:block; position:relative; width:100%; height:100%; margin:0; padding:0;}
.flexslider .slides{display:block; position:relative; width:100%; height:100%; white-space:nowrap;}
.flexslider .slides > li{display:none; position:relative; -webkit-backface-visibility:hidden;}

.slides::before, .slides::after{display:table; content:"";}
/*.slides::after{clear:both;}*/
.slides, .slides::after{clear:both;}


.flexslider2{display:block; position:relative; width:100%; height:100%; margin:0; padding:0;}
.flexslider2 .slides{display:block; position:relative; width:100%; height:100%; white-space:nowrap;}
.flexslider2 .slides > li{display:none; position:relative; -webkit-backface-visibility:hidden;}

.flexslider2{display:block; position:relative; margin:0; padding:0;}
.flexslider2 .slides{display:block; width:100%; white-space:nowrap; overflow:hidden;}
.flexslider2 .slides > li{display:none; position:relative; -webkit-backface-visibility:hidden;}


/* FlexSlider Default Theme
--------------------------------------------------------------------------------------------------------------- */
.flex-viewport{max-height:2000px; transition:all 1s ease;}
.loading .flex-viewport{max-height:300px;}

.flexslider2 .slides{zoom:1;}


/* Direction Nav */
.flex-direction-nav{*height:0;}
.flex-direction-nav a{display:block; position:absolute; top:50%; width:40px; height:40px; margin:-20px 0 0; z-index:10; overflow:hidden; text-decoration:none; opacity:0.9; cursor:pointer; color:rgba(255,255,255,0.8); text-shadow:1px 1px 0 rgba(255,255,255,0.3); transition:all .3s ease;}
.flex-direction-nav .flex-prev{left:10px;}
.flex-direction-nav .flex-next{right:10px;}
.flexslider:hover .flex-prev, .flexslider:hover .flex-next{opacity:0.1;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover{opacity:1;}
.flex-direction-nav .flex-disabled{opacity:0 !important; cursor:default;}
.flex-direction-nav a::before{font-family:"FontAwesome"; font-size:40px; line-height:1; display:inline-block; content:"\f053";}
.flex-direction-nav a.flex-next::before{content:"\f054";}

/* Control Nav */
.flex-control-nav{width:100%; position:absolute; bottom:0; text-align:center; z-index:999;}
.flex-control-nav li{margin:0 6px; display:inline-block; zoom:1; *display:inline;}
.flex-control-paging li a{width:11px; height:11px; display:block; background:rgba(0,0,0,0.5); cursor:pointer; text-indent:-9999px; border-radius:20px; box-shadow:inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover{background:rgba(0,0,0,0.7);}
.flex-control-paging li a.flex-active{background:rgba(0,0,0,0.9); cursor:default;}



/* Basic Slider Content
--------------------------------------------------------------------------------------------------------------- */
.basicslider{}
.basicslider .slides{}
.basicslider .slides li{height:100%;}
.basicslider .slides li::after{display:block; position:absolute; top:0; left:0; width:100%; height:100%;}
.basicslider .slides li .flex-content{display:block; position:relative; max-width:978px; margin:0 auto; padding:325px 0; text-align:center; z-index:1;}
.basicslider .slides li .flex-content *{margin:0; white-space:normal; word-wrap:break-word; font-family:Arial, Helvetica, sans-serif; line-height:1;}
.basicslider .slides li .flex-content .heading{font-size:100px; font-weight:bold;}
.basicslider .slides li .flex-content .heading.underlined{margin-bottom:50px; padding-bottom:35px;}
.basicslider .slides li .flex-content .heading.underlined::after{width:20%; height:5px; margin-left:-10%; content:"";}
.basicslider .slides li .flex-content p:first-of-type{max-width:75%; margin:0 auto 50px; font-size:18px; line-height:1.4;}


.basicslider2{}
.basicslider2 .slides{}
.basicslider2 .slides li{height:100%;}
.basicslider2 .slides li::after{display:block; position:absolute; top:0; left:0; width:100%; height:100%;}
.basicslider2 .slides li .flex-content{display:block; position:relative; max-width:978px; margin:0 auto; padding:325px 0; text-align:center; z-index:1;}
.basicslider2 .slides li .flex-content *{margin:0; white-space:normal; word-wrap:break-word; font-family:Arial, Helvetica, sans-serif; line-height:1;}
.basicslider2 .slides li .flex-content .heading{font-size:100px; font-weight:bold;}
.basicslider2 .slides li .flex-content .heading.underlined{margin-bottom:50px; padding-bottom:35px;}
.basicslider2 .slides li .flex-content .heading.underlined::after{width:20%; height:5px; margin-left:-10%; content:"";}
.basicslider2 .slides li .flex-content p:first-of-type{max-width:75%; margin:0 auto 50px; font-size:18px; line-height:1.4;}




/* FlexSlider Carousel
--------------------------------------------------------------------------------------------------------------- */
.carousel{display:block; position:relative; width:75%; margin:0 auto;}
.carousel ul{margin:0; padding:0; list-style:none; z-index:1;}
.carousel li blockquote{margin-bottom:30px;}
.carousel .flex-direction-nav .flex-prev2{left:-60px;}
.carousel .flex-direction-nav .flex-next2{right:-60px;}


/* FlexSlider Slider Content
--------------------------------------------------------------------------------------------------------------- */
.flexslider2.basicslider .flex-control-nav{position:relative; bottom:auto; padding-top:30px; text-align:left;}
.flexslider2.basicslider .slides{margin:0; padding:0; list-style:none; white-space:normal;}
.flexslider2.basicslider .slides li{}


.flexslider2.basicslider2 .flex-control-nav{position:relative; bottom:auto; padding-top:30px; text-align:left;}
.flexslider2.basicslider2 .slides{margin:0; padding:0; list-style:none; white-space:normal;}
.flexslider2.basicslider2 .slides li{}


/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px){.flex-direction-nav{display:none;}}