/*
Responsive Template Name: RS-1200 Prototype 37
File: Layout CSS
Author: OS Templates
Author URI: http://www.os-templates.com/
Licence: <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>
*/ 

html{overflow-y:scroll;}

body{margin:0; padding:0; font-size:14px; color:#919191; background-color:#232323;}
body.boxed{color:#919191; background-color:#000000;}

.justify{text-align:justify;}
.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.uppercase{text-transform:uppercase;}
.hidden{display:none;}

.clear{display:block; clear:both;}
.clear:after{display:block; visibility:hidden; height:0; clear:both; font-size:0; content:"";}

a{color:#FF9900; outline:none; text-decoration:none;}

.fl_left{float:left;}
.fl_right{float:right;}

img{width:auto; max-width:100%; height:auto; margin:0; padding:0; border:none; line-height:normal; vertical-align:middle;}
.boxholder{padding:3px; border:1px solid #D6D6D6;}
.imgl{float:left; margin:0 15px 10px 0; clear:left;}
.imgr{float:right; margin:0 0 10px 15px; clear:right;}

/*----------------------------------------------HTML 5 Overrides-------------------------------------*/

address, article, aside, figcaption, figure, footer, header, nav, section{display:block; margin:0; padding:0;}

/*----------------------------------------------Responsive Videos-------------------------------------*/

.video{display:block; position:relative; width:100%; height:0; margin:0; padding:0 0 56.25% 0; /* using a 16:9 aspect ratio, the height is 56.25% of the width (9/16=0.5625) */}
.video iframe{display:block; position:absolute; width:100%; height:100%; margin:0; padding:0;}

/* ----------------------------------------------Wrapper-------------------------------------*/
div.wrapper, .wrapper100{display:block; width:100%; margin:0; padding:0; text-align:left; word-wrap:break-word;}
.row1, .row1 a{color:#C0BAB6; background-color:#333333;}
.row2{color:#919191; background-color:#232323; border-bottom:1px solid #333333;}
.row3{color:#666666; background-color:#FFFFFF;}
.row4, .row4 a{color:#919191; background-color:#232323;}
.row5{color:#666666; background-color:#FFFFFF; border-bottom:1px solid #E5E4E3;}

.fixed-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
  }

/* Fonts
--------------------------------------------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, .heading{font-family:Georgia, "Times New Roman", Times, serif;}


/*----------------------------------------------Generalise-------------------------------------*/
body{font-family:Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6{margin:0 0 30px 0; font-size:1.8em; font-family:"CaviarDreamsBold", Arial, Helvetica, sans-serif; font-weight:normal; line-height:normal; text-transform:capitalize;}
h1, h2, h3, h4, h5, h6, .heading{margin:0 0 20px 0; font-size:23px; line-height:normal; font-weight:normal;}
address{margin:10px 0; font-style:normal;}
nav ul{margin:0; padding:0; list-style:none;}
#header, #topnav, #intro, #container, #footer, #copyright{margin:0 auto;}


/*----------------------------------------------Header-------------------------------------*/
#header{padding:15px 0;}

#header #hgroup{display:block; float:left; width:auto; clear:right;}
#header #hgroup h1, #header #hgroup h2{margin:0; font-weight:normal; text-transform:none;}
#header #hgroup h1{font-size:2em;}
#header #hgroup h2{font-size:1em;}

#header #header-contact{display:block; float:right; width:auto; clear:right;}
#header #header-contact ul{margin-top:15px;}
#header #header-contact li{display:inline; margin:0 0 0 15px; padding:0 0 0 15px; border-left:1px solid #C0BAB6;}
#header #header-contact li:first-child{margin:0; padding:0; border:none;}

/*----------------------------------------------Content Area-------------------------------------*/

#container{padding:50px 0; clear:both; font-size:1em; line-height:1.4em;}
#container section{margin-bottom:50px;}
#container section.last{margin-bottom:0;}

.emphasise, #container .emphasise{font-size:2.8em; line-height:1.4em;}

.font-small, #container .font-small{font-size:1em;}
.font-medium, #container .font-medium{font-size:1.2em;}
.font-large, #container .font-large{font-size:1.4em;}
.font-xl, #container .xl-large{font-size:4em; line-height:1.2em;}
.font-xxl, #container .xxl-large{font-size:6em; font-weight:normal; line-height:1.2em;}

/* Sidebar */

.sidebar aside{line-height:1.2em;}
.sidebar aside h2{margin-bottom:10px; padding-bottom:8px; border-bottom:5px solid #E8E8E8; font-size:1.4em;}
.sidebar aside ul.nospace li{margin-top:20px;}

/*----------------------------------------------Footer-------------------------------------*/

#footer{padding:30px 0;}
#footer .footer_title{font-size:1.2em; margin-bottom:40px; padding-bottom:10px; border-bottom:1px solid #919191;}
#footer div{margin-bottom:0;}
#footer .tweet-container li{margin-top:18px; padding-top:18px; border-top:1px solid #333333;}
#footer .tweet-container li:first-child{margin-top:0; padding-top:0; border-top:none;}
#footer .tweet-container li .tweet_time{font-size:.8em;}

#footer #ft_gallery.spacing li{margin-bottom:15px;}

#footer form label{display:block; width:100%; margin:0 0 18px 0;}
#footer form label input{margin-top:5px;}
#footer form label input, #footer form textarea{color:#FFFFFF; background-color:#333333; border-color:#666666;}
#footer form textarea{height:120px;}

/*----------------------------------------------Copyright-------------------------------------*/

#copyright{padding:20px 0; font-size:.85em;}
#copyright p{margin:0; padding:0;}



/* Carousels
--------------------------------------------------------------------------------------------------------------- */
#latest{position:relative; margin:0; padding:30px 0 0 0;}
#latest .carousel-items li{margin-right:20px}
#latest ul li figure{position:relative;}
#latest ul li figure::after, #latest ul li figure figcaption{position:absolute;}
#latest ul li figure::after{top:0; left:0; width:100%; height:100%; content:""; visibility:hidden; opacity:0;}
#latest ul li figure:hover::after{visibility:visible; opacity:1;}
#latest ul li figure img{width:100%;}
#latest ul li figure figcaption{bottom:5%; left:5%; width:90%; z-index:999;}
#latest ul li figure figcaption *{margin:0; padding:0;}
#latest ul li figure figcaption time{font-size:.8rem; opacity:.5;}
#latest ul li figure figcaption p:first-of-type{margin:0;}
#latest .flex-direction-nav{display:block; position:absolute; top:-25px; right:0; width:auto;}
#latest .flex-direction-nav li{display:inline-block; width:30px; height:30px; margin:0 0 0 10px; text-align:center;}
#latest .flex-direction-nav li a{display:block; width:30px; height:30px; line-height:30px; font-size:20px; font-weight:bold;}


#latest2{display:block; width:100%; padding:80px 0 1px 0;}

#latest2 .titlebox{display:block; width:90%; margin:0 auto 80px; text-align:center;}

#latest2 figure{position:relative; float:left; width:25%;}
#latest2 figure::before, #latest2 figure::after, #latest2 figure figcaption{position:absolute; visibility:hidden; opacity:0;}
#latest2 figure::before{top:5%; left:5%; width:90%; height:90%; border:1px solid; content:"";}
#latest2 figure::after{top:0; left:0; width:100%; height:100%; content:"";}

#latest2 figure img{width:100%;}

#latest2 figure figcaption{bottom:10%; left:10%; width:80%; z-index:999;}
#latest2 figure figcaption *{margin:0; padding:0;}
#latest2 figure figcaption time{font-size:.8rem; opacity:.5;}
#latest2 figure figcaption p:first-of-type{text-transform:uppercase; margin-bottom:5px;}
#latest2 figure figcaption p:last-of-type{text-transform:lowercase; font-style:italic;}

#latest2 figure:hover::before, #latest2 figure:hover::after, #latest2 figure:hover figcaption{visibility:visible; opacity:1;}






/*----------------------------------------------------------------------------------------*/
/*-----------------------------------------Navigation-------------------------------------*/
/*----------------------------------------------------------------------------------------*/

/* Top Navigation */

#topnav{padding:0; color:#C0BAB6; background-color:#232323; clear:both; word-wrap:normal; white-space:nowrap;}
#topnav ul{margin:0; padding:0; list-style:none; text-transform:uppercase; font-size:12px;}
#topnav ul ul{z-index:9999; position:absolute; width:190px; text-transform:none;}
#topnav ul ul ul, #topnav ul ul ul ul{left:190px; top:0;}
#topnav ul:first-child li:last-child > ul{right:0;}
#topnav ul:first-child > li:last-child li > ul{left:-190px;}
#topnav li{position:relative; display:block; float:left; margin:0 30px 0 0; padding:0;}
#topnav li:first-child{}
#topnav ul:first-child li:last-child{margin-right:0;}
#topnav li li{width:100%; margin:0;}
#topnav li a{display:block; padding:12px 0;} /* padding de la barra */
#topnav li li a{display:block; margin:0; padding:5px 7px;} /* Separacion del listado de opciones desplegables */
#topnav ul ul{display:none;}
#topnav ul li:hover > ul{display:block;}
#topnav a{color:#C0BAB6; background-color:#232323; font-weight:bold;}
#topnav li li a, #topnav li.active li a{color:#FFFFFF; background:#000000; font-weight:normal;}
#topnav li.active a, #topnav a:hover{color:#FF9900; background-color:#232323;}
#topnav ul li li:hover > a{color:#FFFFFF; background-color:#FF9900;}
#topnav li a.drop, #topnav li.active a.drop{padding-left:15px; background-image:url("images/dropdown_side.gif"); background-position:5px center; background-repeat:no-repeat;}

/* Top navigation for smaller resolutions */

#topnav form{display:block; height:30px; margin:0 auto; padding:5px 5% 13%;}
#topnav form select{display:block; width:100%; padding:8px; color:#FFFFFF; background-color:#232323; border:1px solid #494949; cursor:pointer; outline:none;}
#topnav form select option{display:block; margin:10px; padding:0; cursor:pointer; outline:none; border:none;}

/* Sidebar Navigation */

.sidebar aside nav{display:block; width:100%; margin-bottom:30px;}
.sidebar aside nav ul{margin:0; padding:0; list-style:none;}
.sidebar aside nav li{margin:0 0 3px 0; padding:0;}
.sidebar aside nav a{display:block; margin:0; padding:5px 10px 5px 20px; color:#666666; background-color:inherit; background:url("images/orange_file.gif") no-repeat 10px center; text-decoration:none; border-bottom:1px dotted #666666;}
.sidebar aside nav a:hover{color:#FF9900; background-color:inherit;}
.sidebar aside nav ul ul a{background:url("images/black_file.gif") no-repeat;}
.sidebar aside nav ul ul a{padding-left:40px; background-position:30px center;}
.sidebar aside nav ul ul ul a{padding-left:50px; background-position:40px center;}
.sidebar aside nav ul ul ul ul a{padding-left:60px; background-position:50px center;}
.sidebar aside nav ul ul ul ul ul a{padding-left:70px; background-position:60px center;}

/* Pagination */

.pagination{display:block; width:100%; text-align:center; clear:both; line-height:normal;}
.pagination ul{margin:0; padding:0; list-style:none;}
.pagination li{display:inline;}
.pagination strong{font-weight:normal;}
.pagination .next{margin:0;}
.pagination a, .pagination .current strong, .pagination .splitter strong{display:inline-block; padding:5px 10px; margin:1px 2px;}
.pagination a:first-child{margin-left:0;}
.pagination a{border:1px solid #DFDFDF;}

/* Footer Navigation */

.footer_nav{margin:0; padding:0;}
.footer_nav ul li{margin-top:12px; padding-top:12px; border-top:1px solid #333333;}
.footer_nav ul li:first-child{margin-top:0; padding-top:0; border-top:none;}






/* Colours
--------------------------------------------------------------------------------------------------------------- */
/* Carousels */
#latest .flex-direction-nav a{color:#FFFFFF; background-color:#C45A4C;}
#latest figure figcaption{color:#FFFFFF; background-color:transparent;}
#latest figure:hover::after{background-color:rgba(0,0,0,.5);}


/* Latest */
#latest2 figure figcaption{color:#FFFFFF; background-color:transparent;}
#latest2 figure:hover::before{border-color:rgba(255,255,255,.5);}
#latest2 figure:hover::after{background-color:rgba(0,0,0,.5);}
