<!DOCTYPE html>
{% extends 'torneo/base.html' %}

{% load staticfiles %}
from django.core import urlresolvers


{% block content %}

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>


    
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <div id="container">
    
    <div class="clear">
      
      <div class="one_half first">      
        <h1>Fixture {{disciplina.nombre}}</h2>   
        <!-- ACA FOTO CANCHA Por EJ. <div class="push30"> <img src="{{jugador.foto.url}}" alt="" style="max-height:400px; max-width:400px; overflow: hidden"></div> -->
        
        <h2> Datos Disciplina</h2>
        <li><b>Tipo:</b> {{disciplina.tipo}}</li>
        <li><b>Modalidad del Torneo:</b> {{disciplina.modalidad}}</li>
        {% if disciplina.tipo in 'Grupal'%}
    			<li><b>Equipos:</b></li>
        			<ol>
				{% for equipo in disciplina.equipos.all%}
        				<li>{{equipo.nombre}}</li>
                 {% endfor %}
                 </ol>
        {% endif %}
        
        {% if disciplina.tipo in 'Individual'%}
            <li><b>Competidores:</b></li>
        			<ol>
				{% for participante in disciplina.participantes.all%}
        				<li>{{participante.nombre}}</li>
                 {% endfor %}
                 </ol>
        {% endif %}
        
        
        <a class="btn btn-default" href="{% url 'admin:torneo_disciplina_change' disciplina.pk %}"><span class="glyphicon glyphicon-edit"></span> Editar Disciplina</a>
        
        {% if disciplina.fixture is None%}
            <a class="btn btn-default" href="{% url 'vista_disciplina_crearfixture' id_disciplina=disciplina.pk %}"><span class="glyphicon glyphicon-object-align-horizontal"></span> Crear Fixture</a>
        {% endif %}
        
        {% if disciplina.fixture is not None%}
            <a class="btn btn-default" href="{% url 'vista_disciplina_reiniciarfixture' id_disciplina=disciplina.pk %}"><span class="glyphicon glyphicon-object-align-horizontal"></span> Reiniciar Fixture</a>
            <a class="btn btn-default" href="{% url 'vista_disciplina_actualizartablas' id_disciplina=disciplina.pk %}"><span class="glyphicon glyphicon-equalizer"></span> Actualizar Tablas</a>
        {% endif %}
        
        
        
        
        <h2>Competencias: </h2>
        <div>
            {% for competencia in competencias %}
            <div  style="background-color:Lavender  ;">
                
                
                <ul>
                    <br> 
                    <p style="font-size:16px;color:black; text-decoration: underline;"> <b>Competencia {{competencia.nombre}}</b> </p>
                    <li> Fecha: {{competencia.fecha}}  </li>
                    <li> Lugar: {{competencia.lugar}}  </li>
                
                
                                       
                    {% if competencia.disciplina.tipo in 'Grupal'%}
                    <li> Equipos:                         
                          <ol>
                        	{% for equipo in competencia.equipos.all%}                       	
                    			<li> {{equipo.nombre}} </li>
                    			
                    			
                              {% for resultado in competencia.resultados.all %}
                                 {% if resultado.equipo.nombre in equipo.nombre %}
                                 
                                
                                    <!--<table class="table" style="width:50%">-->
                                    <table style="width:50%">
                                        <tbody>
                                          <tr class="info">
                                            <th>Goles a Favor</th>
                                            <th>{{resultado.goles_favor}}</th>
                                          </tr>     
                                          <tr class="danger">
                                            <th>Goles en Contra</th>
                                            <th>{{resultado.goles_contra}}</th>
                                          </tr>
                                          <tr class="info">
                                            <th>Penales(definicion)</th>
                                            <th>{{resultado.penales}}</th>
                                          </tr>
                                          <tr class="warning">
                                            <th>Tarjetas Amarillas </th>
                                            <th>{{resultado.amarillas}}</th>
                                          </tr>
                                          <tr class="danger">
                                            <th>Tarjetas Rojas</th>
                                            <th>{{resultado.rojas}}</th>
                                          </tr>
                                        </tbody>
                                      </table>
                              
                                
                                
                                    <!--
                                   <li> Goles a Favor: {{resultado.goles_favor}}  </li>
                                   <li> Goles en Contra: {{resultado.goles_contra}}  </li>
                                   <li> Penales: {{resultado.penales}}  </li>
                                   <li> Amarillas: {{resultado.amarillas}}  </li>
                                   <li> Rojas: {{resultado.rojas}}  </li>
                                   <li> Verdes: {{resultado.verdes}}  </li>
                                   -->
                                   
                                 {% endif %}  
                               {% endfor %}
                                  
                               <a class="btn btn-default" href="{% url 'vista_cargarresultado_equipo' competencia.pk equipo.pk%}"><span class="glyphicon glyphicon-dashboard"></span> Editar Resultado</a>
                
                                <a onclick="return abrir_modal('{% url 'vista_cargarresultado_equipo' competencia.pk equipo.pk%}','Equipo / {{ equipo.nombre}}')" class="btn">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                               
                               <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> </div>
                               <a class="glyphicon glyphicon-edit" data-toggle="modal" href="{% url 'vista_cargarresultado_equipo' competencia.pk equipo.pk%}" data-target="#modal" title="edit item" data-tooltip></a>
                               
                          {% endfor %}                         
                         </ol>
                    </li>
                    {% endif %}
                
                    
                
                
                    {% if competencia.disciplina.tipo in 'Individual'%}
                	   <li>Competidores
                    	  <ol>
            			  {% for participante in competencia.participantes.all%}
                				<li>{{participante.nombre}} </li>
                               <a class="btn btn-default" href="{% url 'vista_cargarresultado_participante' competencia.pk participante.pk%}"><span class="glyphicon glyphicon-dashboard"></span> Editar Resultado</a>
                         {% endfor %}
                         </ol>
                    </li>
                    {% endif %}
                </ul>
                
                <a class="btn btn-default" href="{% url 'vista_competencia' id_competencia=competencia.pk %}"><span class="glyphicon glyphicon-eye-open"></span> Ver</a>
                <a class="btn btn-default" href="{% url 'admin:torneo_competencia_change' competencia.pk %}"><span class="glyphicon glyphicon-edit"></span> Editar</a>
                <!--<a class="btn btn-default" href="{% url 'vista_competencia_cargarresultado' competencia.pk %}"><span class="glyphicon glyphicon-dashboard"></span> Cargar Resultado</a>-->
                <a class="btn btn-default" href="{% url 'vista_competencia_notificarcambios' competencia.pk %}"><span class="glyphicon glyphicon-bullhorn"></span> Notificar Cambios</a>
                
                <li> &nbsp </li>
                
             </div>
             
            <li> &nbsp </li>
            <li> &nbsp </li>
        
            {% endfor %}
        </div>
        
        
        <div id="popup" class="modal fade" role="dialog">
        </div>
        


        
        
      </div>
      
        
   
   </div>
 </div>
 
 <div class="clear"></div>
 </div>

</div>  
        
<!-- <script src="{% static 'layout/scripts/popup.js' %}"></script> -->      
<script src="http://malsup.github.com/jquery.form.js"></script>
<script>
    function abrir_modal(url)
    {
            $('#popup').load(url, function()
            {
                    $(this).modal('show');
            });
            return false;
    }
    
    function cerrar_modal()
    {
            $('#popup').modal('hide');
            return false;
    }
    
    $(document).ready(function()
    {
        var table = $('#tabla').dataTable( {
            "language": {
                    url: "/static/localizacion/es_ES.json"
            }
        } );
    });
</script>
{% endblock %}




